{
  "openapi": "3.1.0",
  "info": {
    "title": "Veri API",
    "description": "REST API for the Veri RL post-training platform. All requests require a Bearer API key (`vk_` prefix).",
    "license": {
      "name": ""
    },
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://api.veri.studio",
      "description": "Production"
    }
  ],
  "paths": {
    "/v1/annotation-queues": {
      "get": {
        "tags": [
          "Annotation queues"
        ],
        "summary": "List annotation queues",
        "operationId": "list",
        "parameters": [
          {
            "name": "include_archived",
            "in": "query",
            "description": "Include archived queues (default false).",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The workspace's queues with their item counts, newest first",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueueList"
                }
              }
            }
          },
          "400": {
            "description": "Evals disabled"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Annotation queues"
        ],
        "summary": "Create an annotation queue",
        "description": "Creates a human review queue for one target type, pinning the evaluator versions reviewers score with.",
        "operationId": "create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QueueCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "The queue",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueueResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid name, target type, evaluator scope, or evals disabled"
          },
          "404": {
            "description": "An evaluator is not in the caller's workspace"
          },
          "409": {
            "description": "A queue with this name already exists"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/annotation-queues/{id_or_name}": {
      "get": {
        "tags": [
          "Annotation queues"
        ],
        "summary": "Get an annotation queue",
        "operationId": "get",
        "parameters": [
          {
            "name": "id_or_name",
            "in": "path",
            "description": "Queue id (aq_...) or name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The queue with its counts and pinned evaluator specs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueueResponse"
                }
              }
            }
          },
          "400": {
            "description": "Evals disabled"
          },
          "404": {
            "description": "No such queue in the caller's workspace"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Annotation queues"
        ],
        "summary": "Archive an annotation queue",
        "description": "Soft delete: the queue takes no new items or reservations and leaves the default list. Its items and scores are kept, and the name stays reserved. Idempotent.",
        "operationId": "archive",
        "parameters": [
          {
            "name": "id_or_name",
            "in": "path",
            "description": "Queue id (aq_...) or name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The archived queue",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueueResponse"
                }
              }
            }
          },
          "400": {
            "description": "Evals disabled"
          },
          "404": {
            "description": "No such queue in the caller's workspace"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Annotation queues"
        ],
        "summary": "Update an annotation queue",
        "operationId": "update",
        "parameters": [
          {
            "name": "id_or_name",
            "in": "path",
            "description": "Queue id (aq_...) or name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QueueUpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The updated queue",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueueResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid field, or evals disabled"
          },
          "404": {
            "description": "No such queue in the caller's workspace"
          },
          "409": {
            "description": "The queue is archived, or the name is taken"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/annotation-queues/{id_or_name}/items": {
      "get": {
        "tags": [
          "Annotation queues"
        ],
        "summary": "List an annotation queue's items",
        "operationId": "list_items",
        "parameters": [
          {
            "name": "id_or_name",
            "in": "path",
            "description": "Queue id (aq_...) or name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "pending | reserved | completed | skipped",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Page size, 1..=100 (default 50).",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "after",
            "in": "query",
            "description": "Cursor: items after this item id (oldest first).",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of items, oldest first",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedList_AnnotationItemResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad status filter, or evals disabled"
          },
          "404": {
            "description": "No such queue in the caller's workspace"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Annotation queues"
        ],
        "summary": "Add items to an annotation queue",
        "description": "Adds explicit targets (each checked like a score target: a foreign or missing one is a 404 and nothing is added) or the targets of matching scores (`from_scores`). A thread target pins its revision to the thread's latest request. Targets already in the queue are counted, not added again. A queue holds at most 10,000 open items.",
        "operationId": "add_items",
        "parameters": [
          {
            "name": "id_or_name",
            "in": "path",
            "description": "Queue id (aq_...) or name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ItemsAddRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Added and already-present counts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ItemsAddResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad target shape or filter, or evals disabled"
          },
          "404": {
            "description": "A target, evaluator or the queue is not in the caller's workspace"
          },
          "409": {
            "description": "queue_full; the queue is archived; or an experiment item has no output yet"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/annotation-queues/{id_or_name}/items/next": {
      "post": {
        "tags": [
          "Annotation queues"
        ],
        "summary": "Reserve the next item",
        "description": "Returns the caller's own live reservation in this queue if they hold one, else reserves the oldest pending item (or an expired reservation) for the queue's reservation_minutes; two reviewers never hold the same item. The response carries what a reviewer needs: the item, the queue instructions, the pinned evaluator specs, and the context (trace items: request metadata, the trace body and transcript; thread items: the thread's request ids and the latest trace's transcript; experiment items: input, output, expected and transcript). 204 when nothing is left to review.",
        "operationId": "next",
        "parameters": [
          {
            "name": "id_or_name",
            "in": "path",
            "description": "Queue id (aq_...) or name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The reserved item and its review context",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnnotationTaskResponse"
                }
              }
            }
          },
          "204": {
            "description": "No pending items"
          },
          "400": {
            "description": "Evals disabled"
          },
          "404": {
            "description": "No such queue in the caller's workspace"
          },
          "409": {
            "description": "The queue is archived"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/annotation-queues/{id_or_name}/items/{item_id}/complete": {
      "post": {
        "tags": [
          "Annotation queues"
        ],
        "summary": "Complete a reserved item",
        "description": "The reviewer holding a live reservation writes one human score per pinned evaluator (source `human`, author = the caller, on the item's exact target keys, target_revision included), optionally stores a correction and appends it to an eval stream as a row, and closes the item. Everything commits together, with the `annotation.completed` webhook.",
        "operationId": "complete",
        "parameters": [
          {
            "name": "id_or_name",
            "in": "path",
            "description": "Queue id (aq_...) or name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "item_id",
            "in": "path",
            "description": "Item id (ai_...)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompleteRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The completed item, its scores and the appended row",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompleteResponse"
                }
              }
            }
          },
          "400": {
            "description": "A missing, unknown or invalid score; a dataset that is not an eval stream; a correction whose trace body is unavailable; or evals disabled"
          },
          "404": {
            "description": "No such queue, item or dataset in the caller's workspace"
          },
          "409": {
            "description": "reservation_expired: the caller holds no live reservation; reserved_by_other; item_closed; score_exists"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/annotation-queues/{id_or_name}/items/{item_id}/release": {
      "post": {
        "tags": [
          "Annotation queues"
        ],
        "summary": "Release a reserved item",
        "description": "Puts the item back in the queue for any reviewer (the reviewer holding a live reservation).",
        "operationId": "release",
        "parameters": [
          {
            "name": "id_or_name",
            "in": "path",
            "description": "Queue id (aq_...) or name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "item_id",
            "in": "path",
            "description": "Item id (ai_...)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The item, pending again",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnnotationItemResponse"
                }
              }
            }
          },
          "400": {
            "description": "Evals disabled"
          },
          "404": {
            "description": "No such queue or item in the caller's workspace"
          },
          "409": {
            "description": "reservation_expired, reserved_by_other or item_closed"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/annotation-queues/{id_or_name}/items/{item_id}/skip": {
      "post": {
        "tags": [
          "Annotation queues"
        ],
        "summary": "Skip a reserved item",
        "description": "Closes the item without scores (the reviewer holding a live reservation).",
        "operationId": "skip",
        "parameters": [
          {
            "name": "id_or_name",
            "in": "path",
            "description": "Queue id (aq_...) or name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "item_id",
            "in": "path",
            "description": "Item id (ai_...)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SkipRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The skipped item",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnnotationItemResponse"
                }
              }
            }
          },
          "400": {
            "description": "Evals disabled"
          },
          "404": {
            "description": "No such queue or item in the caller's workspace"
          },
          "409": {
            "description": "reservation_expired, reserved_by_other or item_closed"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/api_keys": {
      "get": {
        "tags": [
          "API keys"
        ],
        "summary": "List API keys",
        "operationId": "list",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of API keys",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedList_ApiKeyResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "API keys"
        ],
        "summary": "Create API key",
        "operationId": "create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateKeyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "The created key, including the plaintext value returned once",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateKeyResponse"
                }
              }
            }
          },
          "422": {
            "description": "Request body failed validation"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/api_keys/{key_id}": {
      "delete": {
        "tags": [
          "API keys"
        ],
        "summary": "Revoke API key",
        "operationId": "revoke",
        "parameters": [
          {
            "name": "key_id",
            "in": "path",
            "description": "API key ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Revocation result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found or not owned by the caller"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/billing/balance": {
      "get": {
        "tags": [
          "Billing"
        ],
        "summary": "Get credit balance",
        "operationId": "balance",
        "responses": {
          "200": {
            "description": "The caller's current credit balance",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BalanceResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/billing/burn_rate": {
      "get": {
        "tags": [
          "Billing"
        ],
        "summary": "Get burn rate",
        "operationId": "burn_rate",
        "responses": {
          "200": {
            "description": "Current spend rate, balance, and active jobs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BurnRateResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/billing/transactions": {
      "get": {
        "tags": [
          "Billing"
        ],
        "summary": "List transactions",
        "operationId": "transactions",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of credit/debit transactions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/code_artifacts": {
      "post": {
        "tags": [
          "Code artifacts"
        ],
        "summary": "Upload code artifact",
        "operationId": "create",
        "requestBody": {
          "description": "Custom training script bundle (code.tar.gz) under the `file` field",
          "content": {
            "multipart/form-data": {}
          }
        },
        "responses": {
          "201": {
            "description": "The uploaded code artifact handle",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CodeArtifactResponse"
                }
              }
            }
          },
          "400": {
            "description": "The `file` field is missing or empty, or the multipart body could not be read"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/credits/redeem": {
      "post": {
        "tags": [
          "Billing"
        ],
        "summary": "Redeem a credit code",
        "operationId": "redeem",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RedeemRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Code redeemed; credits added to balance",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RedeemResponse"
                }
              }
            }
          },
          "400": {
            "description": "Missing or malformed code"
          },
          "404": {
            "description": "Code not found"
          },
          "409": {
            "description": "Code already redeemed"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/datasets": {
      "get": {
        "tags": [
          "Datasets"
        ],
        "summary": "List datasets",
        "operationId": "list",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of datasets",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedList_DatasetResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Datasets"
        ],
        "summary": "Create dataset",
        "description": "Two bodies share this route. `multipart/form-data` (`name` + `file`) uploads a one-shot JSONL, which becomes a stream with one snapshot (`snap-1`). `application/json` `{name, format, auto_snapshot_rows?}` creates an EMPTY append-only stream with a locked row format (`prompt` | `preference` | `completion` | `chat` | `eval`); append rows with POST /v1/datasets/{id}/rows.",
        "operationId": "create",
        "requestBody": {
          "description": "JSON `{name, format}` for an empty stream, or a multipart JSONL file upload",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DatasetStreamCreate"
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Multipart upload whose content matches an existing dataset: that dataset",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatasetResponse"
                }
              }
            }
          },
          "201": {
            "description": "The created dataset",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatasetResponse"
                }
              }
            }
          },
          "400": {
            "description": "Empty file, invalid JSONL, a row with no training fields (none of prompt, messages, text, chosen + rejected, conversations, instruction + output), or an unknown format"
          },
          "409": {
            "description": "JSON create: a dataset with that name already exists"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/datasets/connect": {
      "post": {
        "tags": [
          "Datasets"
        ],
        "summary": "Connect dataset source",
        "operationId": "connect",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DatasetConnect"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A dataset with this name and the same source already exists: that dataset",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatasetResponse"
                }
              }
            }
          },
          "201": {
            "description": "The connected dataset",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatasetResponse"
                }
              }
            }
          },
          "400": {
            "description": "Unsupported source_type, or a field it requires is missing"
          },
          "404": {
            "description": "source_type=volume: the volume was not found"
          },
          "409": {
            "description": "A dataset with this name already exists with a different source"
          },
          "422": {
            "description": "Request body failed validation"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/datasets/{dataset_id}": {
      "get": {
        "tags": [
          "Datasets"
        ],
        "summary": "Get dataset",
        "operationId": "get",
        "parameters": [
          {
            "name": "dataset_id",
            "in": "path",
            "description": "Dataset ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The dataset",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatasetResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found or not owned by the caller"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Datasets"
        ],
        "summary": "Delete dataset",
        "operationId": "delete",
        "parameters": [
          {
            "name": "dataset_id",
            "in": "path",
            "description": "Dataset ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deletion result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteResponse"
                }
              }
            }
          },
          "400": {
            "description": "An active training job still references the dataset"
          },
          "404": {
            "description": "Not found or not owned by the caller"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Datasets"
        ],
        "summary": "Update dataset rule",
        "description": "Set or clear the auto-snapshot rule: with `auto_snapshot_rows = N`, the platform cuts a snapshot once N new rows have landed since the newest snapshot (fires once per threshold crossing).",
        "operationId": "patch",
        "parameters": [
          {
            "name": "dataset_id",
            "in": "path",
            "description": "Dataset ID or name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DatasetPatch"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The updated dataset",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatasetResponse"
                }
              }
            }
          },
          "400": {
            "description": "auto_snapshot_rows < 1"
          },
          "404": {
            "description": "Not found or not owned by the caller"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/datasets/{dataset_id}/import-traces": {
      "post": {
        "tags": [
          "Datasets"
        ],
        "summary": "Import a window of request traces as dataset rows",
        "operationId": "import_traces",
        "parameters": [
          {
            "name": "dataset_id",
            "in": "path",
            "description": "Dataset id or name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TraceImportRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TraceImportResponse"
                }
              }
            }
          },
          "400": {
            "description": "bad window/format/limit, or traces disabled"
          },
          "404": {
            "description": "dataset or deployment not found"
          },
          "409": {
            "description": "export_window_overlap: overlaps a previous import"
          },
          "502": {
            "description": "trace store failed mid-fetch; nothing appended"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/datasets/{dataset_id}/rows": {
      "get": {
        "tags": [
          "Datasets"
        ],
        "summary": "Preview dataset rows",
        "operationId": "rows",
        "parameters": [
          {
            "name": "dataset_id",
            "in": "path",
            "description": "Dataset ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Byte-offset cursor from the previous page's `next_cursor`. Omit for the\nfirst page.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Rows per page, 1..=100 (default 50).",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "start_row",
            "in": "query",
            "description": "0-based row number to start the page at (jump-to-row). Takes precedence\nover `cursor`. The first jump into a dataset builds a sparse row index\n(one full streaming read); every later jump is two small S3 reads.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0
            }
          },
          {
            "name": "snapshot",
            "in": "query",
            "description": "Stream view: read the dataset AS OF this snapshot (`snap-N`, `N`, or\nthe full `<id>@snap-N`). Supersessions/tombstones up to its head are\nresolved. Omit for the live head. Switches the response to\n`{row_id, row}` objects with `next_cursor` = the last row_id.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "since",
            "in": "query",
            "description": "Stream view: only rows with row_id > since (pass the previous page's\n`next_cursor`). Implies the stream view even without `snapshot`.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "One page of raw dataset rows",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatasetRowsResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found or not owned by the caller"
          },
          "409": {
            "description": "Connected dataset has no stored snapshot yet (available after its first training run)"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Datasets"
        ],
        "summary": "Append rows",
        "description": "Append rows to the stream. Every row is validated against the locked format; one bad row rejects the whole batch (nothing is written). A correction is a new row with `supersedes` naming the row it replaces; it takes effect in snapshots cut from now on, and older snapshots keep the original. Emits one `dataset.rows_appended` webhook per batch.",
        "operationId": "append_rows",
        "parameters": [
          {
            "name": "dataset_id",
            "in": "path",
            "description": "Dataset ID or name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppendRowsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "The appended row range",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppendResult"
                }
              }
            }
          },
          "400": {
            "description": "Format mismatch, empty batch, or a supersedes target that does not exist"
          },
          "404": {
            "description": "Not found or not owned by the caller"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/datasets/{dataset_id}/snapshots": {
      "get": {
        "tags": [
          "Datasets"
        ],
        "summary": "List snapshots",
        "operationId": "list_snapshots",
        "parameters": [
          {
            "name": "dataset_id",
            "in": "path",
            "description": "Dataset ID or name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Snapshot timeline, oldest first",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SnapshotList"
                }
              }
            }
          },
          "404": {
            "description": "Not found or not owned by the caller"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Datasets"
        ],
        "summary": "Cut snapshot",
        "description": "Record an immutable pointer at the current head. O(1) at any size. Training jobs pin it with `dataset_id: \"<id>@snap-N\"`. Emits `dataset.snapshot_created`.",
        "operationId": "create_snapshot",
        "parameters": [
          {
            "name": "dataset_id",
            "in": "path",
            "description": "Dataset ID or name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SnapshotCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "The new snapshot",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SnapshotResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found or not owned by the caller"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/datasets/{dataset_id}/snapshots/{a}/diff/{b}": {
      "get": {
        "tags": [
          "Datasets"
        ],
        "summary": "Diff snapshots",
        "description": "Rows added, superseded, and tombstoned between snapshot `a` and the later snapshot `b`. `b` may be `head` for the live stream.",
        "operationId": "diff",
        "parameters": [
          {
            "name": "dataset_id",
            "in": "path",
            "description": "Dataset ID or name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "a",
            "in": "path",
            "description": "Older snapshot (snap-N)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "b",
            "in": "path",
            "description": "Newer snapshot (snap-N) or `head`",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The delta",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SnapshotDiff"
                }
              }
            }
          },
          "400": {
            "description": "a is newer than b"
          },
          "404": {
            "description": "Dataset or snapshot not found"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/datasets/{dataset_id}/tombstones": {
      "post": {
        "tags": [
          "Datasets"
        ],
        "summary": "Tombstone a row",
        "description": "Append a tombstone: the row is absent from every snapshot cut from now on and still present in earlier ones. Nothing is deleted.",
        "operationId": "tombstone",
        "parameters": [
          {
            "name": "dataset_id",
            "in": "path",
            "description": "Dataset ID or name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TombstoneRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "The appended tombstone entry (one-row range)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppendResult"
                }
              }
            }
          },
          "400": {
            "description": "Unknown row, or the target is itself a tombstone entry"
          },
          "404": {
            "description": "Not found or not owned by the caller"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/deployments": {
      "get": {
        "tags": [
          "Deployments"
        ],
        "summary": "List deployments",
        "operationId": "list",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of deployments",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedList_DeploymentResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Deployments"
        ],
        "summary": "Create deployment",
        "operationId": "create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeploymentCreate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "The created deployment, status queued; the GPU boxes launch after the request returns",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeploymentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request: unknown source or engine, an unknown or not yet available provider, a (provider, gpu_type, gpu_count) shape the provider does not sell for serving, invalid replica bounds or scaling values, rejected vllm_extra_args or vllm_image, an unpriced shape, a training job that is not completed, or a LoRA adapter checkpoint (a training job with lora_rank, or a saved model made from one), which needs merged weights or a multi_adapter deployment"
          },
          "402": {
            "description": "No billing account is linked to this workspace yet"
          },
          "404": {
            "description": "The training job or saved model was not found in this workspace"
          },
          "409": {
            "description": "The saved model (source custom_model) is not ready yet"
          },
          "422": {
            "description": "Request body failed validation"
          },
          "429": {
            "description": "ACTIVE_DEPLOYMENT_LIMIT: the new replicas would exceed the workspace's active deployment replica limit"
          },
          "503": {
            "description": "billing_unavailable: the workspace's billing account could not be checked; retry after Retry-After"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/deployments/{deployment_id}": {
      "get": {
        "tags": [
          "Deployments"
        ],
        "summary": "Get deployment",
        "operationId": "get",
        "parameters": [
          {
            "name": "deployment_id",
            "in": "path",
            "description": "Deployment ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The deployment",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeploymentResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found or not owned by the caller"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Deployments"
        ],
        "summary": "Delete deployment",
        "operationId": "delete",
        "parameters": [
          {
            "name": "deployment_id",
            "in": "path",
            "description": "Deployment ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deletion result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteResponse"
                }
              }
            }
          },
          "400": {
            "description": "Deployment is not stopped/failed, or its final billing settlement is still pending"
          },
          "404": {
            "description": "Not found or not owned by the caller"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Deployments"
        ],
        "summary": "Update deployment scaling settings",
        "operationId": "update",
        "parameters": [
          {
            "name": "deployment_id",
            "in": "path",
            "description": "Deployment ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeploymentUpdate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The updated deployment (desired state; the reconciler converges the replica fleet asynchronously). A scaled_to_zero deployment left with min_replicas >= 1 is woken by the update (status waking, booting the new floor); during a first boot (provisioning) the new scaling settings apply once it is serving",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeploymentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid bounds, terminal deployment, or a pre-replica deployment that cannot scale"
          },
          "404": {
            "description": "Not found or not owned by the caller"
          },
          "422": {
            "description": "Request body failed validation (immutable or unknown field)"
          },
          "429": {
            "description": "ACTIVE_DEPLOYMENT_LIMIT: raising the replica count, or waking a parked deployment at its new floor, would exceed the workspace active-replica limit; nothing is saved"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/deployments/{deployment_id}/adapters": {
      "get": {
        "tags": [
          "Deployments"
        ],
        "summary": "List adapters",
        "operationId": "list",
        "parameters": [
          {
            "name": "deployment_id",
            "in": "path",
            "description": "Deployment ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Adapter list ({object: \"list\", data: AdapterResponse[]}), each item carrying the alias, current model/version, status, and per-replica load state",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "400": {
            "description": "Not a multi_adapter deployment"
          },
          "404": {
            "description": "Deployment not found, or not owned by the caller"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Deployments"
        ],
        "summary": "Attach an adapter",
        "description": "Attach a LoRA adapter model to a serving_mode='multi_adapter' deployment under a stable public alias (serve_name). The fleet's replicas download and load the adapter asynchronously: the attachment starts in status 'attaching' and becomes 'active' once every serving replica reports it loaded (poll the list endpoint).",
        "operationId": "attach",
        "parameters": [
          {
            "name": "deployment_id",
            "in": "path",
            "description": "Deployment ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdapterAttachBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "The new attachment, status 'attaching'; replicas[] carries the per-replica load state",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdapterResponse"
                }
              }
            }
          },
          "400": {
            "description": "Not a multi_adapter deployment, invalid serve_name, or the model is not an attachable adapter (wrong artifact_type, not ready, or base-model mismatch)"
          },
          "404": {
            "description": "Deployment or model not found, or not owned by the caller"
          },
          "409": {
            "description": "serve_name already attached to this deployment, or the per-deployment adapter cap (128) is reached"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/deployments/{deployment_id}/adapters/{serve_name}": {
      "delete": {
        "tags": [
          "Deployments"
        ],
        "summary": "Detach an adapter",
        "description": "Remove an adapter attachment. When no serving replica still holds the adapter it is deleted immediately (deleted=true); otherwise the attachment enters status 'detaching' (deleted=false) and is garbage-collected once every replica has unloaded it.",
        "operationId": "detach",
        "parameters": [
          {
            "name": "deployment_id",
            "in": "path",
            "description": "Deployment ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "serve_name",
            "in": "path",
            "description": "The adapter's public alias",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Detach result: {serve_name, deleted}. deleted=true when removed immediately, else deleted=false with status 'detaching'",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "400": {
            "description": "Not a multi_adapter deployment"
          },
          "404": {
            "description": "Deployment or adapter not found, or not owned by the caller"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Deployments"
        ],
        "summary": "Flip an adapter to a new version",
        "description": "Point an attached alias at a new adapter model with zero downtime. The new version is staged alongside the current one; the alias cuts over atomically only once EVERY serving replica reports the new version loaded. Until then the call answers 409 'not yet converged'; retry the identical PATCH until it succeeds; the current version keeps serving throughout.",
        "operationId": "flip",
        "parameters": [
          {
            "name": "deployment_id",
            "in": "path",
            "description": "Deployment ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "serve_name",
            "in": "path",
            "description": "The adapter's public alias",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdapterFlipBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The cutover completed: the alias now serves the new model at version+1, status 'active'",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdapterResponse"
                }
              }
            }
          },
          "400": {
            "description": "Not a multi_adapter deployment, the model is not an attachable adapter, or the alias already serves this model"
          },
          "404": {
            "description": "Deployment, adapter, or model not found, or not owned by the caller"
          },
          "409": {
            "description": "Staged but not yet converged (retry until every replica reports the new version loaded), or the adapter changed concurrently"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/deployments/{deployment_id}/adapters/{serve_name}/rollback": {
      "post": {
        "tags": [
          "Deployments"
        ],
        "summary": "Roll back an adapter",
        "description": "Point the alias back at the previously served adapter model (previous_model_id) under a fresh version. Status returns to 'attaching' until every serving replica reports the rollback target loaded: usually immediate when the old weights are still resident, otherwise after a re-download.",
        "operationId": "rollback",
        "parameters": [
          {
            "name": "deployment_id",
            "in": "path",
            "description": "Deployment ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "serve_name",
            "in": "path",
            "description": "The adapter's public alias",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The alias now serves the previous model at version+1, status 'attaching' until the fleet converges",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdapterResponse"
                }
              }
            }
          },
          "400": {
            "description": "Not a multi_adapter deployment"
          },
          "404": {
            "description": "Deployment or adapter not found, or not owned by the caller"
          },
          "409": {
            "description": "No previous version to roll back to, the previous model no longer exists, or the adapter changed concurrently"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/deployments/{deployment_id}/chat/completions": {
      "post": {
        "tags": [
          "Deployments"
        ],
        "summary": "Create chat completion",
        "operationId": "chat_completions",
        "parameters": [
          {
            "name": "deployment_id",
            "in": "path",
            "description": "Deployment ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {}
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "An OpenAI-compatible chat completion",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "400": {
            "description": "The deployment is stopped or failed, the X-Veri-Thread-Id header is invalid, or the model server rejected the request with a 4xx other than 429"
          },
          "404": {
            "description": "Not found or not owned by the caller"
          },
          "413": {
            "description": "Request body larger than 8 MiB"
          },
          "422": {
            "description": "Request body failed validation"
          },
          "429": {
            "description": "ACTIVE_DEPLOYMENT_LIMIT: the request would wake a scaled_to_zero deployment but the workspace's active deployment replica limit has no room, or the request rate limit was exceeded"
          },
          "503": {
            "description": "Deployment waking, no serving replica yet, a multi-adapter request whose adapter no serving replica has loaded yet, or the serving replica failed to answer; retry after Retry-After (error.code deployment_waking | upstream_unavailable)"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/deployments/{deployment_id}/messages": {
      "post": {
        "tags": [
          "Deployments"
        ],
        "summary": "Anthropic Messages API (proxy)",
        "description": "Forwards an Anthropic Messages request to the deployment's serving replica (vLLM's native `/v1/messages`). Point `ANTHROPIC_BASE_URL` at `/v1/deployments/{id}` and use a model access key as `ANTHROPIC_AUTH_TOKEN`. Streaming (`stream: true`) is passed through as SSE. `model` is rewritten to the deployment's served name; inline `system` messages are folded into `system`.",
        "operationId": "messages",
        "parameters": [
          {
            "name": "deployment_id",
            "in": "path",
            "description": "Deployment ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {}
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The Anthropic-shaped response (or an SSE stream)",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "400": {
            "description": "Not serving, multi-adapter / BYOC deployment, or malformed body"
          },
          "404": {
            "description": "Not found or not owned by the caller"
          },
          "503": {
            "description": "Deployment waking or no serving replica; retry after Retry-After"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/deployments/{deployment_id}/messages/count_tokens": {
      "post": {
        "tags": [
          "Deployments"
        ],
        "summary": "Anthropic count_tokens (proxy)",
        "operationId": "count_tokens",
        "parameters": [
          {
            "name": "deployment_id",
            "in": "path",
            "description": "Deployment ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {}
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "`{input_tokens}` from the serving replica",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "400": {
            "description": "Not serving, multi-adapter / BYOC deployment, or malformed body"
          },
          "404": {
            "description": "Not found or not owned by the caller"
          },
          "503": {
            "description": "Deployment waking or no serving replica"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/deployments/{deployment_id}/metrics": {
      "get": {
        "tags": [
          "Deployments"
        ],
        "summary": "Get deployment metrics",
        "operationId": "metrics",
        "parameters": [
          {
            "name": "deployment_id",
            "in": "path",
            "description": "Deployment ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Uptime, cost, lifetime request counters, and past-24-hour latency and error stats",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeploymentMetrics"
                }
              }
            }
          },
          "404": {
            "description": "Not found or not owned by the caller"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/deployments/{deployment_id}/metrics/engine-timeseries": {
      "get": {
        "tags": [
          "Deployments"
        ],
        "summary": "Get deployment engine metrics timeseries",
        "operationId": "engine_metrics_timeseries",
        "parameters": [
          {
            "name": "deployment_id",
            "in": "path",
            "description": "Deployment ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "interval",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/MetricsInterval"
            }
          },
          {
            "name": "replica_id",
            "in": "query",
            "description": "Scope buckets, summary, and cost to one replica of the deployment (404\nwhen the replica doesn't belong to it). Omitted = deployment-wide.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Server-filled engine metric buckets",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeploymentEngineMetricsTimeseries"
                }
              }
            }
          },
          "400": {
            "description": "Invalid range or interval"
          },
          "404": {
            "description": "Not found or not owned by the caller"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/deployments/{deployment_id}/metrics/timeseries": {
      "get": {
        "tags": [
          "Deployments"
        ],
        "summary": "Get deployment metrics timeseries",
        "operationId": "metrics_timeseries",
        "parameters": [
          {
            "name": "deployment_id",
            "in": "path",
            "description": "Deployment ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "interval",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/MetricsInterval"
            }
          },
          {
            "name": "replica_id",
            "in": "query",
            "description": "Scope buckets, summary, and cost to one replica of the deployment (404\nwhen the replica doesn't belong to it). Omitted = deployment-wide.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Server-filled inference metrics buckets",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeploymentMetricsTimeseries"
                }
              }
            }
          },
          "400": {
            "description": "Invalid range or interval"
          },
          "404": {
            "description": "Not found or not owned by the caller"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/deployments/{deployment_id}/replicas": {
      "get": {
        "tags": [
          "Deployments"
        ],
        "summary": "List deployment replicas",
        "operationId": "replicas",
        "parameters": [
          {
            "name": "deployment_id",
            "in": "path",
            "description": "Deployment ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Replica status and latest engine snapshot",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedList_DeploymentReplicaResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found or not owned by the caller"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/deployments/{deployment_id}/replicas/{replica_id}/drain": {
      "post": {
        "tags": [
          "Deployments"
        ],
        "summary": "Drain a replica",
        "description": "Retire one replica of a serving deployment. Default mode shrinks the fleet by one: the replica starts draining at once and is not replaced. replace=true swaps the replica without losing capacity, on any replica including the last one serving: a replacement is launched first, this replica keeps serving (replace_requested_at set) until the replacement serves, then it drains. Both boxes are billed during the overlap. If the replacement fails (crashes, misses its provisioning deadline, or finds no capacity) this replica keeps serving and GET .../replicas shows why in replace_error; it is not retried automatically. A draining replica finishes its in-flight requests before its box is terminated (bounded by the drain timeout); a replica still booting (queued/provisioning) is cancelled outright in either mode.",
        "operationId": "drain_replica",
        "parameters": [
          {
            "name": "deployment_id",
            "in": "path",
            "description": "Deployment ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "replica_id",
            "in": "path",
            "description": "Replica ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "replace",
            "in": "query",
            "description": "Swap mode: retire this replica WITHOUT shrinking the fleet or losing\ncapacity. A replacement is launched first; this replica keeps serving\nuntil the replacement serves, then drains. Both boxes bill during the\noverlap.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Drain accepted. Default mode: the replica is draining (or stopped, when it was still booting and was cancelled outright). replace=true on a serving replica: it is still serving with replace_requested_at set, and drains once its replacement serves",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeploymentReplicaResponse"
                }
              }
            }
          },
          "404": {
            "description": "Deployment or replica not found, or not owned by the caller"
          },
          "409": {
            "description": "The deployment is not serving; the replica is loading, draining, stopped or failed; in default mode the drain would shrink the fleet below max(min_replicas, 1) or remove the last serving replica (use replace=true); or a replace is already in progress on this deployment"
          },
          "429": {
            "description": "replace=true needs room for one extra replica under the workspace's active deployment replica limit (ACTIVE_DEPLOYMENT_LIMIT): drain without replace, or free capacity"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/deployments/{deployment_id}/requests": {
      "get": {
        "tags": [
          "Deployments"
        ],
        "summary": "List deployment requests",
        "operationId": "requests",
        "parameters": [
          {
            "name": "deployment_id",
            "in": "path",
            "description": "Deployment ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "errors_only",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "replica_id",
            "in": "query",
            "description": "Restrict to requests served by one replica of the deployment (404 when\nthe replica doesn't belong to it). Omitted = all replicas.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "origin",
            "in": "query",
            "description": "Who issued the requests: `api` (default, your production traffic) or\n`eval` (calls Veri evaluations and experiments made to this\ndeployment). Eval traffic is recorded but kept out of the default\nlisting, the metrics endpoints and the request counters.",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Who issued a request: `api` (your own API traffic) or `eval` (calls Veri\nevaluators and experiments made to the deployment).",
              "enum": [
                "api",
                "eval"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of inference requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedList_DeploymentRequestResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found or not owned by the caller"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/deployments/{deployment_id}/stop": {
      "post": {
        "tags": [
          "Deployments"
        ],
        "summary": "Stop deployment",
        "operationId": "stop",
        "parameters": [
          {
            "name": "deployment_id",
            "in": "path",
            "description": "Deployment ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The stopped deployment",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeploymentResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found or not owned by the caller"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/deployments/{deployment_id}/threads/{thread_id}": {
      "get": {
        "tags": [
          "Observability"
        ],
        "summary": "Get a thread",
        "description": "One external agent thread turn by turn: every model call as an `llm` step and the tool calls between calls as `tool` steps. Message bodies come from the newest stored request trace (`bodies` says how much was found).",
        "operationId": "thread",
        "parameters": [
          {
            "name": "deployment_id",
            "in": "path",
            "description": "Deployment ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "thread_id",
            "in": "path",
            "description": "The X-Veri-Thread-Id the requests carried",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThreadDetail"
                }
              }
            }
          },
          "400": {
            "description": "Malformed thread id, or observability disabled"
          },
          "404": {
            "description": "No such deployment in this workspace, or no thread requests"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/deployments/{deployment_id}/traces": {
      "get": {
        "tags": [
          "Deployments"
        ],
        "summary": "List request traces for a deployment the caller's workspace owns.",
        "operationId": "traces",
        "parameters": [
          {
            "name": "deployment_id",
            "in": "path",
            "description": "Deployment ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "1-based page.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Page size, 1..=100 (default 20).",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "ISO-8601 lower bound on trace time.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "ISO-8601 upper bound on trace time.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paged trace list ({object, data, page, limit, total_items, total_pages}); each item is a trace with input/output bodies, tags, and metadata.veri_request_id cross-linking to GET /requests",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/deployments/{deployment_id}/traces/{trace_id}": {
      "get": {
        "tags": [
          "Deployments"
        ],
        "summary": "Fetch one trace, with full request/response bodies.",
        "operationId": "trace",
        "parameters": [
          {
            "name": "deployment_id",
            "in": "path",
            "description": "Deployment ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "trace_id",
            "in": "path",
            "description": "Trace ID (veri-<request_id>)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The trace, bodies included",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "404": {
            "description": "No such trace in this workspace"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/deployments/{deployment_id}/wake": {
      "post": {
        "tags": [
          "Deployments"
        ],
        "summary": "Wake a scaled-to-zero deployment",
        "operationId": "wake",
        "parameters": [
          {
            "name": "deployment_id",
            "in": "path",
            "description": "Deployment ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Wake accepted (no-op if the deployment is already up or booting)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeploymentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Deployment is stopped/failed and cannot wake"
          },
          "404": {
            "description": "Not found or not owned by the caller"
          },
          "429": {
            "description": "ACTIVE_DEPLOYMENT_LIMIT: the workspace's active deployment replica limit has no room for the wake; the deployment stays scaled_to_zero"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/environments": {
      "get": {
        "tags": [
          "Environments"
        ],
        "summary": "List environments",
        "operationId": "list",
        "responses": {
          "200": {
            "description": "The workspace's environments with their latest version, newest first",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedList_EnvironmentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Managed agents disabled"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Environments"
        ],
        "summary": "Create an environment",
        "description": "Creates the environment and its version 1. The spec is validated (harness, model endpoint, egress hosts, env, secrets, MCP servers, skills, permissions) and stored normalized.",
        "operationId": "create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnvironmentCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "The environment with version 1",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnvironmentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid spec, unknown secret or skill, or managed agents disabled"
          },
          "404": {
            "description": "model.deployment_id is not a deployment in this workspace"
          },
          "409": {
            "description": "An environment with this name already exists"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/environments/{env_id}": {
      "get": {
        "tags": [
          "Environments"
        ],
        "summary": "Get an environment",
        "operationId": "get",
        "parameters": [
          {
            "name": "env_id",
            "in": "path",
            "description": "Environment ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "version",
            "in": "query",
            "description": "Return this version instead of the latest.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The environment with its latest (or requested) version",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnvironmentResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found in this workspace, or no such version"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Environments"
        ],
        "summary": "Delete an environment",
        "description": "Soft delete: the environment disappears from lists and can no longer start sessions; existing sessions keep their pinned version.",
        "operationId": "delete",
        "parameters": [
          {
            "name": "env_id",
            "in": "path",
            "description": "Environment ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deletion result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found in this workspace"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/environments/{env_id}/versions": {
      "post": {
        "tags": [
          "Environments"
        ],
        "summary": "Create a new environment version",
        "description": "Validates the full spec and appends it as version latest+1. Earlier versions are immutable; sessions already pinned to them are unaffected.",
        "operationId": "create_version",
        "parameters": [
          {
            "name": "env_id",
            "in": "path",
            "description": "Environment ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnvironmentSpecInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "The environment with the new version",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnvironmentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid spec or managed agents disabled"
          },
          "404": {
            "description": "Not found in this workspace"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/evaluators": {
      "get": {
        "tags": [
          "Evaluators"
        ],
        "summary": "List evaluators",
        "operationId": "list",
        "parameters": [
          {
            "name": "include_archived",
            "in": "query",
            "description": "Include archived evaluators (default false).",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The workspace's evaluators with their latest version, newest first",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EvaluatorList"
                }
              }
            }
          },
          "400": {
            "description": "Evals disabled"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Evaluators"
        ],
        "summary": "Create an evaluator",
        "description": "Creates the evaluator and its version 1. An llm_judge evaluator must name a deployment in the caller's workspace as its judge.",
        "operationId": "create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EvaluatorCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "The evaluator with version 1",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EvaluatorResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid name, config, bindings, or evals disabled; method_config.mode decision while observability is off"
          },
          "404": {
            "description": "The judge deployment is not in the caller's workspace"
          },
          "409": {
            "description": "An evaluator with this name already exists"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/evaluators/{id_or_name}": {
      "get": {
        "tags": [
          "Evaluators"
        ],
        "summary": "Get an evaluator",
        "operationId": "get",
        "parameters": [
          {
            "name": "id_or_name",
            "in": "path",
            "description": "Evaluator id (evl_...) or name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "version",
            "in": "query",
            "description": "Return this version instead of the latest.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The evaluator, the requested (default latest) version, and the version history",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EvaluatorResponse"
                }
              }
            }
          },
          "400": {
            "description": "Evals disabled"
          },
          "404": {
            "description": "No such evaluator or version in the caller's workspace"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Evaluators"
        ],
        "summary": "Archive an evaluator",
        "description": "Soft delete: the evaluator takes no new versions and leaves the default list. Its versions and scores are kept, and the name stays reserved. Idempotent.",
        "operationId": "archive",
        "parameters": [
          {
            "name": "id_or_name",
            "in": "path",
            "description": "Evaluator id (evl_...) or name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The archived evaluator",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EvaluatorResponse"
                }
              }
            }
          },
          "400": {
            "description": "Evals disabled"
          },
          "404": {
            "description": "No such evaluator in the caller's workspace"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/evaluators/{id_or_name}/versions": {
      "post": {
        "tags": [
          "Evaluators"
        ],
        "summary": "Create an evaluator version",
        "description": "Adds the next immutable version. Omitted fields are copied from the latest version. Earlier versions are never changed.",
        "operationId": "create_version",
        "parameters": [
          {
            "name": "id_or_name",
            "in": "path",
            "description": "Evaluator id (evl_...) or name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EvaluatorVersionCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "The evaluator with its new latest version",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EvaluatorResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid config or bindings, or evals disabled; method_config.mode decision while observability is off"
          },
          "404": {
            "description": "No such evaluator (or judge deployment) in the caller's workspace"
          },
          "409": {
            "description": "The evaluator is archived"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/experiments": {
      "get": {
        "tags": [
          "Experiments"
        ],
        "summary": "List experiments",
        "operationId": "list",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "description": "queued | running | awaiting_local | completed | failed | canceled",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "model_version_id",
            "in": "query",
            "description": "Experiments whose target is this model version.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Page size, 1..=100 (default 50).",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "after",
            "in": "query",
            "description": "Cursor: experiments created before this experiment id.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
[...]
