{
  "openapi": "3.1.0",
  "info": {
    "title": "Veri API",
    "description": "AI-powered deepfake and synthetic media detection API",
    "version": "1.0.0",
    "license": {
      "name": "MIT"
    }
  },
  "servers": [
    {
      "url": "https://api.veri.studio",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/api/detect": {
      "post": {
        "summary": "Detect AI-generated content in an image",
        "description": "Analyze an image to determine if it was generated by AI",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["image"],
                "properties": {
                  "image": {
                    "type": "string",
                    "description": "Base64-encoded image data (JPEG, PNG, WebP, GIF). Max 10MB."
                  },
                  "model": {
                    "type": "string",
                    "description": "Model to use for detection",
                    "enum": ["veri_v0", "veri_v1", "veri_audio_v0"],
                    "default": "veri_v0"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Detection result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DetectionResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "402": {
            "description": "Payment required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/detect/url": {
      "post": {
        "summary": "Detect AI-generated content from image URL",
        "description": "Analyze an image from a URL to determine if it was generated by AI",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["url"],
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "description": "URL of the image to analyze (must be publicly accessible)"
                  },
                  "model": {
                    "type": "string",
                    "description": "Model to use for detection",
                    "enum": ["veri_v0", "veri_v1", "veri_audio_v0"],
                    "default": "veri_v0"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Detection result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DetectionResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad request or URL fetch failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "402": {
            "description": "Payment required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key"
      }
    },
    "schemas": {
      "DetectionResult": {
        "type": "object",
        "properties": {
          "prediction": {
            "type": "string",
            "enum": ["ai", "likely_ai", "uncertain", "likely_real", "real"],
            "description": "Classification result"
          },
          "confidence": {
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "description": "How decisive the model is (distance from 0.5 threshold)"
          },
          "ensemble_score": {
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "description": "Raw model probability (higher = more likely AI-generated)"
          },
          "verdict": {
            "type": "string",
            "enum": ["ai_generated", "likely_ai", "uncertain", "likely_real", "real"],
            "description": "Human-readable verdict"
          },
          "models_succeeded": {
            "type": "integer",
            "description": "Number of models that succeeded"
          },
          "models_total": {
            "type": "integer",
            "description": "Total number of models invoked"
          },
          "model_results": {
            "type": "object",
            "description": "Per-model results",
            "additionalProperties": {
              "$ref": "#/components/schemas/ModelResult"
            }
          },
          "detection_latency_ms": {
            "type": "integer",
            "description": "Total detection time in milliseconds"
          },
          "isFake": {
            "type": "boolean",
            "nullable": true,
            "description": "true if AI-generated, false if real, null if uncertain"
          },
          "processingTimeMs": {
            "type": "integer",
            "description": "Processing time in milliseconds"
          },
          "imageHash": {
            "type": "string",
            "description": "SHA-256 hash of the image"
          },
          "cached": {
            "type": "boolean",
            "description": "Whether result was cached"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp"
          }
        }
      },
      "ModelResult": {
        "type": "object",
        "properties": {
          "score": {
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "description": "Model probability score"
          },
          "status": {
            "type": "string",
            "enum": ["success", "error"],
            "description": "Model execution status"
          },
          "latency_ms": {
            "type": "integer",
            "description": "Model inference time in milliseconds"
          },
          "error": {
            "type": "string",
            "nullable": true,
            "description": "Error message if model failed"
          }
        }
      },
      "Error": {
        "type": "object",
        "required": ["error"],
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          },
          "status": {
            "type": "integer",
            "description": "HTTP status code"
          }
        }
      }
    }
  }
}