{
  "openapi": "3.1.0",
  "info": {
    "title": "Veri API",
    "description": "REST API for the Veri RL post-training platform. All requests require a Bearer API key (`vk_` prefix).",
    "license": {
      "name": ""
    },
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://api.veri.studio",
      "description": "Production"
    }
  ],
  "paths": {
    "/v1/account": {
      "delete": {
        "tags": [
          "Account"
        ],
        "summary": "Delete account data",
        "operationId": "delete",
        "responses": {
          "200": {
            "description": "Account data deleted; object storage cleanup queued",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountDeletionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Active jobs, deployments, volumes, or pending billing block account deletion"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/api_keys": {
      "get": {
        "tags": [
          "API keys"
        ],
        "summary": "List API keys",
        "operationId": "list",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of API keys",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedList_ApiKeyResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "API keys"
        ],
        "summary": "Create API key",
        "operationId": "create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateKeyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The created key, including the plaintext value returned once",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateKeyResponse"
                }
              }
            }
          },
          "422": {
            "description": "Request body failed validation"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/api_keys/{key_id}": {
      "delete": {
        "tags": [
          "API keys"
        ],
        "summary": "Revoke API key",
        "operationId": "revoke",
        "parameters": [
          {
            "name": "key_id",
            "in": "path",
            "description": "API key ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Revocation result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found or not owned by the caller"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/billing/balance": {
      "get": {
        "tags": [
          "Billing"
        ],
        "summary": "Get credit balance",
        "operationId": "balance",
        "parameters": [
          {
            "name": "stripe_customer_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The caller's current credit balance",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BalanceResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/billing/burn_rate": {
      "get": {
        "tags": [
          "Billing"
        ],
        "summary": "Get burn rate",
        "operationId": "burn_rate",
        "responses": {
          "200": {
            "description": "Current spend rate, balance, and active jobs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BurnRateResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/billing/transactions": {
      "get": {
        "tags": [
          "Billing"
        ],
        "summary": "List transactions",
        "operationId": "transactions",
        "parameters": [
          {
            "name": "stripe_customer_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of credit/debit transactions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/code_artifacts": {
      "post": {
        "tags": [
          "Code artifacts"
        ],
        "summary": "Upload code artifact",
        "operationId": "create",
        "requestBody": {
          "description": "Custom training script bundle (code.tar.gz) under the `file` field",
          "content": {
            "multipart/form-data": {}
          }
        },
        "responses": {
          "201": {
            "description": "The uploaded code artifact handle",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CodeArtifactResponse"
                }
              }
            }
          },
          "422": {
            "description": "The `file` field is missing or empty"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/compatibility/resolve": {
      "post": {
        "tags": [
          "Compatibility"
        ],
        "summary": "Resolve advisory model/runtime compatibility",
        "operationId": "resolve_handler",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompatibilityResolveRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Advisory resolution with warnings and platform validation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompatibilityResolveResponse"
                }
              }
            }
          },
          "400": {
            "description": "Missing model identifier"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/compatibility/runtimes": {
      "get": {
        "tags": [
          "Compatibility"
        ],
        "summary": "List platform-approved model runtimes",
        "operationId": "runtimes",
        "responses": {
          "200": {
            "description": "Reviewed runtime IDs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RuntimeCatalogResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/credits/redeem": {
      "post": {
        "tags": [
          "Billing"
        ],
        "summary": "Redeem a credit code",
        "operationId": "redeem",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RedeemRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Code redeemed; credits added to balance",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RedeemResponse"
                }
              }
            }
          },
          "400": {
            "description": "Missing or malformed code"
          },
          "404": {
            "description": "Code not found"
          },
          "409": {
            "description": "Code already redeemed"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/datasets": {
      "get": {
        "tags": [
          "Datasets"
        ],
        "summary": "List datasets",
        "operationId": "list",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of datasets",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedList_DatasetResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Datasets"
        ],
        "summary": "Upload dataset",
        "operationId": "create",
        "requestBody": {
          "description": "JSONL dataset file upload",
          "content": {
            "multipart/form-data": {}
          }
        },
        "responses": {
          "200": {
            "description": "The created (or existing, on content-hash match) dataset",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatasetResponse"
                }
              }
            }
          },
          "422": {
            "description": "Empty file, invalid JSONL, or a row missing the 'prompt' field"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/datasets/connect": {
      "post": {
        "tags": [
          "Datasets"
        ],
        "summary": "Connect dataset source",
        "operationId": "connect",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DatasetConnect"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The connected (or existing, on identical config) dataset",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatasetResponse"
                }
              }
            }
          },
          "422": {
            "description": "Request body failed validation"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/datasets/connect/validate": {
      "post": {
        "tags": [
          "Datasets"
        ],
        "summary": "Validate dataset source",
        "operationId": "validate_connection",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DatasetValidateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Validation result for the dataset connection",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatasetValidateResponse"
                }
              }
            }
          },
          "422": {
            "description": "Request body failed validation"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/datasets/{dataset_id}": {
      "get": {
        "tags": [
          "Datasets"
        ],
        "summary": "Get dataset",
        "operationId": "get",
        "parameters": [
          {
            "name": "dataset_id",
            "in": "path",
            "description": "Dataset ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The dataset",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatasetResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found or not owned by the caller"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Datasets"
        ],
        "summary": "Delete dataset",
        "operationId": "delete",
        "parameters": [
          {
            "name": "dataset_id",
            "in": "path",
            "description": "Dataset ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deletion result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteResponse"
                }
              }
            }
          },
          "400": {
            "description": "An active training job still references the dataset"
          },
          "404": {
            "description": "Not found or not owned by the caller"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/deployments": {
      "get": {
        "tags": [
          "Deployments"
        ],
        "summary": "List deployments",
        "operationId": "list",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of deployments",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedList_DeploymentResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Deployments"
        ],
        "summary": "Create deployment",
        "operationId": "create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeploymentCreate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The created deployment",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeploymentResponse"
                }
              }
            }
          },
          "422": {
            "description": "Request body failed validation"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/deployments/{deployment_id}": {
      "get": {
        "tags": [
          "Deployments"
        ],
        "summary": "Get deployment",
        "operationId": "get",
        "parameters": [
          {
            "name": "deployment_id",
            "in": "path",
            "description": "Deployment ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The deployment",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeploymentResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found or not owned by the caller"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Deployments"
        ],
        "summary": "Delete deployment",
        "operationId": "delete",
        "parameters": [
          {
            "name": "deployment_id",
            "in": "path",
            "description": "Deployment ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deletion result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteResponse"
                }
              }
            }
          },
          "400": {
            "description": "Deployment is not stopped/failed, or its final billing settlement is still pending"
          },
          "404": {
            "description": "Not found or not owned by the caller"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Deployments"
        ],
        "summary": "Update deployment scaling settings",
        "operationId": "update",
        "parameters": [
          {
            "name": "deployment_id",
            "in": "path",
            "description": "Deployment ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeploymentUpdate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The updated deployment (desired state; the reconciler converges the replica fleet asynchronously)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeploymentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid bounds, terminal deployment, or a pre-replica deployment that cannot scale"
          },
          "404": {
            "description": "Not found or not owned by the caller"
          },
          "422": {
            "description": "Request body failed validation (immutable or unknown field)"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/deployments/{deployment_id}/adapters": {
      "get": {
        "tags": [
          "Deployments"
        ],
        "summary": "List adapters",
        "operationId": "list",
        "parameters": [
          {
            "name": "deployment_id",
            "in": "path",
            "description": "Deployment ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Adapter list ({object: \"list\", data: AdapterResponse[]}), each item carrying the alias, current model/version, status, and per-replica load state",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "400": {
            "description": "Not a multi_adapter deployment"
          },
          "404": {
            "description": "Deployment not found, or not owned by the caller"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Deployments"
        ],
        "summary": "Attach an adapter",
        "description": "Attach a LoRA adapter model to a serving_mode='multi_adapter' deployment under a stable public alias (serve_name). The fleet's replicas download and load the adapter asynchronously: the attachment starts in status 'attaching' and becomes 'active' once every serving replica reports it loaded (poll the list endpoint).",
        "operationId": "attach",
        "parameters": [
          {
            "name": "deployment_id",
            "in": "path",
            "description": "Deployment ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdapterAttachBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "The new attachment, status 'attaching'; replicas[] carries the per-replica load state",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdapterResponse"
                }
              }
            }
          },
          "400": {
            "description": "Not a multi_adapter deployment, invalid serve_name, or the model is not an attachable adapter (wrong artifact_type, not ready, or base-model mismatch)"
          },
          "404": {
            "description": "Deployment or model not found, or not owned by the caller"
          },
          "409": {
            "description": "serve_name already attached to this deployment, or the per-deployment adapter cap (128) is reached"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/deployments/{deployment_id}/adapters/{serve_name}": {
      "delete": {
        "tags": [
          "Deployments"
        ],
        "summary": "Detach an adapter",
        "description": "Remove an adapter attachment. When no serving replica still holds the adapter it is deleted immediately (deleted=true); otherwise the attachment enters status 'detaching' (deleted=false) and is garbage-collected once every replica has unloaded it.",
        "operationId": "detach",
        "parameters": [
          {
            "name": "deployment_id",
            "in": "path",
            "description": "Deployment ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "serve_name",
            "in": "path",
            "description": "The adapter's public alias",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Detach result: {serve_name, deleted} — deleted=true when removed immediately, else deleted=false with status 'detaching'",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "400": {
            "description": "Not a multi_adapter deployment"
          },
          "404": {
            "description": "Deployment or adapter not found, or not owned by the caller"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Deployments"
        ],
        "summary": "Flip an adapter to a new version",
        "description": "Point an attached alias at a new adapter model with zero downtime. The new version is staged alongside the current one; the alias cuts over atomically only once EVERY serving replica reports the new version loaded. Until then the call answers 409 'not yet converged' — retry the identical PATCH until it succeeds; the current version keeps serving throughout.",
        "operationId": "flip",
        "parameters": [
          {
            "name": "deployment_id",
            "in": "path",
            "description": "Deployment ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "serve_name",
            "in": "path",
            "description": "The adapter's public alias",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdapterFlipBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The cutover completed: the alias now serves the new model at version+1, status 'active'",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdapterResponse"
                }
              }
            }
          },
          "400": {
            "description": "Not a multi_adapter deployment, the model is not an attachable adapter, or the alias already serves this model"
          },
          "404": {
            "description": "Deployment, adapter, or model not found, or not owned by the caller"
          },
          "409": {
            "description": "Staged but not yet converged (retry until every replica reports the new version loaded), or the adapter changed concurrently"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/deployments/{deployment_id}/adapters/{serve_name}/rollback": {
      "post": {
        "tags": [
          "Deployments"
        ],
        "summary": "Roll back an adapter",
        "description": "Point the alias back at the previously served adapter model (previous_model_id) under a fresh version. Status returns to 'attaching' until every serving replica reports the rollback target loaded — usually immediate when the old weights are still resident, otherwise after a re-download.",
        "operationId": "rollback",
        "parameters": [
          {
            "name": "deployment_id",
            "in": "path",
            "description": "Deployment ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "serve_name",
            "in": "path",
            "description": "The adapter's public alias",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The alias now serves the previous model at version+1, status 'attaching' until the fleet converges",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdapterResponse"
                }
              }
            }
          },
          "400": {
            "description": "Not a multi_adapter deployment"
          },
          "404": {
            "description": "Deployment or adapter not found, or not owned by the caller"
          },
          "409": {
            "description": "No previous version to roll back to, the previous model no longer exists, or the adapter changed concurrently"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/deployments/{deployment_id}/chat/completions": {
      "post": {
        "tags": [
          "Deployments"
        ],
        "summary": "Create chat completion",
        "operationId": "chat_completions",
        "parameters": [
          {
            "name": "deployment_id",
            "in": "path",
            "description": "Deployment ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {}
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "An OpenAI-compatible chat completion",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "404": {
            "description": "Not found or not owned by the caller"
          },
          "422": {
            "description": "Request body failed validation"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/deployments/{deployment_id}/metrics": {
      "get": {
        "tags": [
          "Deployments"
        ],
        "summary": "Get deployment metrics",
        "operationId": "metrics",
        "parameters": [
          {
            "name": "deployment_id",
            "in": "path",
            "description": "Deployment ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Uptime, cost, and request aggregates",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeploymentMetrics"
                }
              }
            }
          },
          "404": {
            "description": "Not found or not owned by the caller"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/deployments/{deployment_id}/metrics/engine-timeseries": {
      "get": {
        "tags": [
          "Deployments"
        ],
        "summary": "Get deployment engine metrics timeseries",
        "operationId": "engine_metrics_timeseries",
        "parameters": [
          {
            "name": "deployment_id",
            "in": "path",
            "description": "Deployment ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "interval",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/MetricsInterval"
            }
          },
          {
            "name": "replica_id",
            "in": "query",
            "description": "Scope buckets, summary, and cost to one replica of the deployment (404\nwhen the replica doesn't belong to it). Omitted = deployment-wide.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Server-filled engine metric buckets",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeploymentEngineMetricsTimeseries"
                }
              }
            }
          },
          "400": {
            "description": "Invalid range or interval"
          },
          "404": {
            "description": "Not found or not owned by the caller"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/deployments/{deployment_id}/metrics/timeseries": {
      "get": {
        "tags": [
          "Deployments"
        ],
        "summary": "Get deployment metrics timeseries",
        "operationId": "metrics_timeseries",
        "parameters": [
          {
            "name": "deployment_id",
            "in": "path",
            "description": "Deployment ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "interval",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/MetricsInterval"
            }
          },
          {
            "name": "replica_id",
            "in": "query",
            "description": "Scope buckets, summary, and cost to one replica of the deployment (404\nwhen the replica doesn't belong to it). Omitted = deployment-wide.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Server-filled inference metrics buckets",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeploymentMetricsTimeseries"
                }
              }
            }
          },
          "400": {
            "description": "Invalid range or interval"
          },
          "404": {
            "description": "Not found or not owned by the caller"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/deployments/{deployment_id}/replicas": {
      "get": {
        "tags": [
          "Deployments"
        ],
        "summary": "List deployment replicas",
        "operationId": "replicas",
        "parameters": [
          {
            "name": "deployment_id",
            "in": "path",
            "description": "Deployment ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Replica status and latest engine snapshot",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedList_DeploymentReplicaResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found or not owned by the caller"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/deployments/{deployment_id}/replicas/{replica_id}/drain": {
      "post": {
        "tags": [
          "Deployments"
        ],
        "summary": "Drain a replica",
        "description": "Retire one replica of a serving deployment. Default mode shrinks the fleet by one (the drained box is not replaced); pass replace=true to recycle the box in place — the reconciler launches a replacement so capacity is unchanged. A replica already taking traffic finishes its in-flight requests before the box is terminated (bounded by the drain timeout); a replica still booting is cancelled outright.",
        "operationId": "drain_replica",
        "parameters": [
          {
            "name": "deployment_id",
            "in": "path",
            "description": "Deployment ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "replica_id",
            "in": "path",
            "description": "Replica ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "replace",
            "in": "query",
            "description": "Recycle mode: retire this replica WITHOUT shrinking the fleet. The\ndesired count is untouched, so the reconciler launches a replacement\nbox (a draining replica no longer counts as live).",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Drain accepted; the replica is draining (or stopped, when it was still booting and was cancelled outright)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeploymentReplicaResponse"
                }
              }
            }
          },
          "404": {
            "description": "Deployment or replica not found, or not owned by the caller"
          },
          "409": {
            "description": "Deployment is not serving, the replica is already draining/stopped/failed, or the drain would shrink the fleet below its floor / drop the last serving replica (use replace=true)"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/deployments/{deployment_id}/requests": {
      "get": {
        "tags": [
          "Deployments"
        ],
        "summary": "List deployment requests",
        "operationId": "requests",
        "parameters": [
          {
            "name": "deployment_id",
            "in": "path",
            "description": "Deployment ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "errors_only",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "replica_id",
            "in": "query",
            "description": "Restrict to requests served by one replica of the deployment (404 when\nthe replica doesn't belong to it). Omitted = all replicas.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of inference requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedList_DeploymentRequestResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found or not owned by the caller"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/deployments/{deployment_id}/stop": {
      "post": {
        "tags": [
          "Deployments"
        ],
        "summary": "Stop deployment",
        "operationId": "stop",
        "parameters": [
          {
            "name": "deployment_id",
            "in": "path",
            "description": "Deployment ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The stopped deployment",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeploymentResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found or not owned by the caller"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/deployments/{deployment_id}/wake": {
      "post": {
        "tags": [
          "Deployments"
        ],
        "summary": "Wake a scaled-to-zero deployment",
        "operationId": "wake",
        "parameters": [
          {
            "name": "deployment_id",
            "in": "path",
            "description": "Deployment ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Wake accepted (no-op if the deployment is already up or booting)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeploymentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Deployment is stopped/failed and cannot wake"
          },
          "404": {
            "description": "Not found or not owned by the caller"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/gpu/availability": {
      "get": {
        "tags": [
          "GPU"
        ],
        "summary": "GPU availability by provider/region",
        "operationId": "availability",
        "parameters": [
          {
            "name": "provider",
            "in": "query",
            "description": "\"aws\" | \"hotaisle\" | \"vast\" | \"digitalocean\". Absent = every probeable\nprovider we can reach.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "gpu_type",
            "in": "query",
            "description": "GPU-type filter (e.g. \"H100\", \"A100-80GB\", \"MI300X-192GB\"). Absent = all.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "region",
            "in": "query",
            "description": "Region filter. AWS: a real region. Hot Aisle: \"hotaisle-us\".\nDigitalOcean: a DO region slug (e.g. \"tor1\").",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Live GPU availability rows across providers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GpuAvailabilityList"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/gpu/availability/cached": {
      "get": {
        "tags": [
          "GPU"
        ],
        "summary": "Cached GPU availability with single-flight refresh",
        "operationId": "availability_cached",
        "parameters": [
          {
            "name": "provider",
            "in": "query",
            "description": "\"aws\" | \"hotaisle\" | \"vast\" | \"digitalocean\". Absent = every probeable\nprovider we can reach.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "gpu_type",
            "in": "query",
            "description": "GPU-type filter (e.g. \"H100\", \"A100-80GB\", \"MI300X-192GB\"). Absent = all.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "region",
            "in": "query",
            "description": "Region filter. AWS: a real region. Hot Aisle: \"hotaisle-us\".\nDigitalOcean: a DO region slug (e.g. \"tor1\").",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Availability snapshot with probe timestamp; at most one live probe runs at a time",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GpuAvailabilitySnapshot"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/gpu/catalog": {
      "get": {
        "tags": [
          "GPU"
        ],
        "summary": "GPU offering catalog by provider/workload",
        "operationId": "catalog",
        "responses": {
          "200": {
            "description": "Offering rows: provider x workload x gpu_type with node shapes, status and price",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GpuCatalogList"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/hf_exports/{export_id}": {
      "get": {
        "tags": [
          "Models"
        ],
        "summary": "Get an HF export",
        "operationId": "get",
        "parameters": [
          {
            "name": "export_id",
            "in": "path",
            "description": "Export ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The export with live progress",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HfExportResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found or not owned by the caller"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/hf_exports/{export_id}/cancel": {
      "post": {
        "tags": [
          "Models"
        ],
        "summary": "Cancel an HF export",
        "operationId": "cancel",
        "parameters": [
          {
            "name": "export_id",
            "in": "path",
            "description": "Export ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Export cancelled; the task is stopped",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HfExportResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found or not owned by the caller"
          },
          "409": {
            "description": "Export already finished"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/me": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Get current user",
        "operationId": "me",
        "responses": {
          "200": {
            "description": "The authenticated caller's identity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MeResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/metrics/export": {
      "get": {
        "tags": [
          "Metrics"
        ],
        "summary": "Export account metrics (Prometheus)",
        "operationId": "export",
        "responses": {
          "200": {
            "description": "The account's deployment and replica metrics in Prometheus text exposition format (version 0.0.4). Point a Prometheus scrape job, Grafana Cloud, or the Datadog Agent's OpenMetrics check at this endpoint with the API key as a Bearer credential.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/models": {
      "get": {
        "tags": [
          "Models"
        ],
        "summary": "List models",
        "operationId": "list",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Page size (default 20, max 100)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "after",
            "in": "query",
            "description": "Cursor: return models created before this model id",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of the caller's models",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedList_ModelResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Models"
        ],
        "summary": "Save a model",
        "operationId": "create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateModelRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The existing model (idempotent repeat save)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModelResponse"
                }
              }
            }
          },
          "201": {
            "description": "The saved model (first save)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModelResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid name or artifact, non-completed job, a job with no deployable checkpoint, or artifact=adapter on a non-LoRA job"
          },
          "404": {
            "description": "Training job not found or not owned by the caller"
          },
          "409": {
            "description": "The job is already saved with a different artifact"
          },
          "501": {
            "description": "Source type not yet supported (huggingface, upload)"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/models/import": {
      "post": {
        "tags": [
          "Models"
        ],
        "summary": "Import model (not yet supported)",
        "operationId": "import",
        "responses": {
          "501": {
            "description": "HuggingFace import is not yet available"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/models/register": {
      "post": {
        "tags": [
          "Models"
        ],
        "summary": "Save a model (compat alias)",
        "operationId": "register",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The existing model (idempotent repeat save)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModelResponse"
                }
              }
            }
          },
          "201": {
            "description": "The saved model",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModelResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/models/{id}": {
      "get": {
        "tags": [
          "Models"
        ],
        "summary": "Get model",
        "operationId": "get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Model ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The model",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModelResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found or not owned by the caller"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Models"
        ],
        "summary": "Remove model from library",
        "operationId": "delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Model ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Removed from the library (job artifacts untouched)"
          },
          "404": {
            "description": "Not found or not owned by the caller"
          },
          "409": {
            "description": "Active deployments still reference this model"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Models"
        ],
        "summary": "Rename model",
        "operationId": "rename",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Model ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RenameRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The renamed model",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModelResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid name"
          },
          "404": {
            "description": "Not found or not owned by the caller"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/models/{id}/presigned-upload": {
      "post": {
        "tags": [
          "Models"
        ],
        "summary": "Create model upload URL (not yet supported)",
        "operationId": "presigned_upload",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Model ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "501": {
            "description": "Direct upload is not yet available"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/models/{model_id}/hf-exports": {
      "get": {
        "tags": [
          "Models"
        ],
        "summary": "List a model's HF exports",
        "operationId": "list_for_model",
        "parameters": [
          {
            "name": "model_id",
            "in": "path",
            "description": "Model ID from the model library",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Most recent exports of this model, newest first"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/models/{model_id}/push-to-hf": {
      "post": {
        "tags": [
          "Models"
        ],
        "summary": "Push a model to Hugging Face",
        "operationId": "create",
        "parameters": [
          {
            "name": "model_id",
            "in": "path",
            "description": "Model ID from the model library",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HfExportCreate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Export started; poll GET /v1/hf_exports/{id} for progress",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HfExportResponse"
                }
              }
            }
          },
          "400": {
            "description": "Feature disabled, malformed repo, unexportable model, or no connected HF account"
          },
          "404": {
            "description": "Model not found or not owned by the caller"
          },
          "409": {
            "description": "Model not ready, duplicate active export, or per-user export limit reached"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/regions": {
      "get": {
        "tags": [
          "Regions"
        ],
        "summary": "List regions",
        "operationId": "list",
        "responses": {
          "200": {
            "description": "The launch regions Veri offers, with the default flagged",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegionList"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/settings/integrations/huggingface": {
      "get": {
        "tags": [
          "Settings"
        ],
        "summary": "Get Hugging Face integration status",
        "operationId": "get_huggingface",
        "responses": {
          "200": {
            "description": "Whether an HF token is configured (the token itself is never returned)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HuggingFaceIntegrationResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "put": {
        "tags": [
          "Settings"
        ],
        "summary": "Connect Hugging Face account",
        "operationId": "set_huggingface",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HuggingFaceIntegrationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Token validated against HF whoami and stored (encrypted). Jobs may now request hf_push.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HuggingFaceIntegrationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Empty or HF-rejected token"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Settings"
        ],
        "summary": "Remove Hugging Face integration",
        "operationId": "delete_huggingface",
        "responses": {
          "200": {
            "description": "Integration removed; new jobs can no longer request hf_push"
          },
          "404": {
            "description": "No Hugging Face integration configured"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/settings/integrations/wandb": {
      "get": {
        "tags": [
          "Settings"
        ],
        "summary": "Get W&B integration status",
        "operationId": "get_wandb",
        "responses": {
          "200": {
            "description": "Whether a W&B API key is configured (the key itself is never returned)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WandbIntegrationResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "put": {
        "tags": [
          "Settings"
        ],
        "summary": "Set W&B integration",
        "operationId": "set_wandb",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WandbIntegrationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Key stored (encrypted). Subsequent training jobs auto-log to W&B.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WandbIntegrationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Empty API key"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Settings"
        ],
        "summary": "Remove W&B integration",
        "operationId": "delete_wandb",
        "responses": {
          "200": {
            "description": "Integration removed; future jobs stop logging to W&B"
          },
          "404": {
            "description": "No W&B integration configured"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/ssh_keys": {
      "get": {
        "tags": [
          "SSH keys"
        ],
        "summary": "List SSH keys",
        "operationId": "list",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of SSH keys",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedList_SSHKeyResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "SSH keys"
        ],
        "summary": "Upload SSH key",
        "operationId": "create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSSHKeyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The registered SSH key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SSHKeyResponse"
                }
              }
            }
          },
          "422": {
            "description": "Request body failed validation"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/ssh_keys/{key_id}": {
      "delete": {
        "tags": [
          "SSH keys"
        ],
        "summary": "Delete SSH key",
        "operationId": "delete",
        "parameters": [
          {
            "name": "key_id",
            "in": "path",
            "description": "SSH key ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deletion result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found or not owned by the caller"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/training_jobs": {
      "get": {
        "tags": [
          "Training jobs"
        ],
        "summary": "List training jobs",
        "operationId": "list",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/JobStatus"
            }
          },
          {
            "name": "method",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of training jobs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedList_TrainingJobResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Training jobs"
        ],
        "summary": "Create training job",
        "operationId": "submit",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TrainingJobCreate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The created training job",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrainingJobResponse"
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credit balance"
          },
          "422": {
            "description": "Request body failed validation"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/training_jobs/{job_id}": {
      "get": {
        "tags": [
          "Training jobs"
        ],
        "summary": "Get training job",
        "operationId": "get",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "description": "Training job ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The training job",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrainingJobResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found or not owned by the caller"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Training jobs"
        ],
        "summary": "Delete training job",
        "operationId": "delete",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "description": "Training job ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deletion result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteResponse"
                }
              }
            }
          },
          "400": {
            "description": "Job is not in a terminal state, or a deployment still references it"
          },
          "404": {
            "description": "Not found"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/training_jobs/{job_id}/cancel": {
      "post": {
        "tags": [
          "Training jobs"
        ],
        "summary": "Cancel training job",
        "operationId": "cancel",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "description": "Training job ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The cancelled job",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrainingJobResponse"
                }
              }
            }
          },
          "400": {
            "description": "Job is already in a terminal state"
          },
          "404": {
            "description": "Not found"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/training_jobs/{job_id}/events": {
      "get": {
        "tags": [
          "Training jobs"
        ],
        "summary": "Get job events",
        "operationId": "events",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "description": "Training job ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lifecycle event history for the job",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventList"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/training_jobs/{job_id}/metrics": {
      "get": {
        "tags": [
          "Training jobs"
        ],
        "summary": "Get training metrics",
        "operationId": "metrics",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "description": "Training job ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "keys",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from_step",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "to_step",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "max_points",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sampled per-step training metrics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetricsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/training_jobs/{job_id}/model": {
      "get": {
        "tags": [
          "Training jobs"
        ],
        "summary": "Get model checkpoint",
        "operationId": "model",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "description": "Training job ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Checkpoint download URL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModelDownload"
                }
              }
            }
          },
          "400": {
            "description": "Job has not completed yet"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/training_jobs/{job_id}/trajectories": {
      "get": {
        "tags": [
          "Training jobs"
        ],
        "summary": "List trajectory index rows",
        "operationId": "list_trajectories",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "description": "Training job ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "policy_step",
            "in": "query",
            "description": "Filter by training step",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "task_index",
            "in": "query",
            "description": "Filter by dataset task",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Max rows (default 200, max 1000)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Trajectory index rows"
          },
          "404": {
            "description": "Not found or not owned by the caller"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/training_jobs/{job_id}/trajectories/{trajectory_id}/download": {
      "get": {
        "tags": [
          "Training jobs"
        ],
        "summary": "Get a trajectory download URL",
        "operationId": "trajectory_download",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "description": "Training job ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "trajectory_id",
            "in": "path",
            "description": "Trajectory ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Presigned GET URL for the raw trajectory JSONL"
          },
          "404": {
            "description": "Not found or not owned by the caller"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/volumes": {
      "get": {
        "tags": [
          "Volumes"
        ],
        "summary": "List volumes",
        "operationId": "list",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of the caller's volumes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedList_VolumeResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Volumes"
        ],
        "summary": "Create volume",
        "operationId": "create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VolumeCreate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The created volume (or the existing one on idempotent re-create)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VolumeResponse"
                }
              }
            }
          },
          "422": {
            "description": "Request body failed validation (invalid volume name)"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/volumes/{name}": {
      "get": {
        "tags": [
          "Volumes"
        ],
        "summary": "Get volume",
        "operationId": "get",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "Volume name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The volume",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VolumeResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found or not owned by the caller"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Volumes"
        ],
        "summary": "Delete volume",
        "operationId": "delete",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "Volume name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Volume deleted (S3 contents reclaimed asynchronously)"
          },
          "404": {
            "description": "Not found or not owned by the caller"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/volumes/{name}/files": {
      "get": {
        "tags": [
          "Volumes"
        ],
        "summary": "List volume files",
        "operationId": "list_files",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "Volume name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "prefix",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of files stored in the volume",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VolumeFilesList"
                }
              }
            }
          },
          "404": {
            "description": "Not found or not owned by the caller"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/volumes/{name}/files/{path}": {
      "delete": {
        "tags": [
          "Volumes"
        ],
        "summary": "Delete volume file",
        "operationId": "delete_file",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "Volume name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "path",
            "in": "path",
            "description": "File path within the volume",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "File deleted (size accounting updated)"
          },
          "404": {
            "description": "Not found or not owned by the caller"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/volumes/{name}/upload-url": {
      "post": {
        "tags": [
          "Volumes"
        ],
        "summary": "Create upload URL",
        "operationId": "create_upload_url",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "Volume name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VolumeUploadRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A single-shot PUT URL (<= 5 GiB) or a multipart-init descriptor",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadUrlResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found or not owned by the caller"
          },
          "422": {
            "description": "Request body failed validation (bad path or size)"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/volumes/{name}/upload-url/complete": {
      "post": {
        "tags": [
          "Volumes"
        ],
        "summary": "Complete multipart upload",
        "operationId": "complete_upload",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "Volume name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VolumeMultipartCompleteRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The finalized file record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VolumeMultipartCompleteResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found or not owned by the caller"
          },
          "422": {
            "description": "Request body failed validation (bad path or empty parts)"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/volumes/{name}/upload-url/part": {
      "post": {
        "tags": [
          "Volumes"
        ],
        "summary": "Create upload part URL",
        "operationId": "create_upload_part_url",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "Volume name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VolumeMultipartPartRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A presigned PUT URL for one multipart part",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VolumeMultipartPartResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found or not owned by the caller"
          },
          "422": {
            "description": "Request body failed validation (bad path or part_number)"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/webhooks": {
      "get": {
        "tags": [
          "Webhooks"
        ],
        "summary": "List webhook endpoints",
        "operationId": "list",
        "responses": {
          "200": {
            "description": "The caller's webhook endpoints (secrets masked)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedList_WebhookResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Create webhook endpoint",
        "operationId": "create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWebhookRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The created endpoint. This is the ONLY response that includes the full signing secret.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid URL (non-https, private/internal address) or unknown event type"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/webhooks/{webhook_id}": {
      "get": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Get webhook endpoint",
        "operationId": "get",
        "parameters": [
          {
            "name": "webhook_id",
            "in": "path",
            "description": "Webhook endpoint ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The endpoint (secret masked)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found or not owned by the caller"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Delete webhook endpoint",
        "operationId": "delete",
        "parameters": [
          {
            "name": "webhook_id",
            "in": "path",
            "description": "Webhook endpoint ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deletion result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found or not owned by the caller"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Update webhook endpoint",
        "operationId": "update",
        "parameters": [
          {
            "name": "webhook_id",
            "in": "path",
            "description": "Webhook endpoint ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateWebhookRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The updated endpoint (secret masked)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid URL or unknown event type"
          },
          "404": {
            "description": "Not found or not owned by the caller"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/webhooks/{webhook_id}/deliveries": {
      "get": {
        "tags": [
          "Webhooks"
        ],
        "summary": "List recent deliveries",
        "operationId": "deliveries",
        "parameters": [
          {
            "name": "webhook_id",
            "in": "path",
            "description": "Webhook endpoint ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The endpoint's 50 most recent delivery attempts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedList_WebhookDeliveryResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found or not owned by the caller"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/webhooks/{webhook_id}/secret": {
      "get": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Get webhook signing secret",
        "operationId": "secret",
        "parameters": [
          {
            "name": "webhook_id",
            "in": "path",
            "description": "Webhook endpoint ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The full whsec_ signing secret",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookSecretResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found or not owned by the caller"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/webhooks/{webhook_id}/test": {
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Send test event",
        "operationId": "test",
        "parameters": [
          {
            "name": "webhook_id",
            "in": "path",
            "description": "Webhook endpoint ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A webhook.test event was queued through the real delivery pipeline (signed, retried on failure). Expect the POST within a few seconds.",
            "content": {
              "application/json": {
                "schema": {
[...]
