{
  "openapi": "3.1.0",
  "info": {
    "title": "Veri API",
    "description": "REST API for the Veri RL post-training platform. All requests require a Bearer API key (`vk_` prefix).",
    "license": {
      "name": ""
    },
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://api.veri.studio",
      "description": "Production"
    }
  ],
  "paths": {
    "/v1/api_keys": {
      "get": {
        "tags": [
          "API keys"
        ],
        "summary": "List API keys",
        "operationId": "list",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of API keys",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedList_ApiKeyResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "API keys"
        ],
        "summary": "Create API key",
        "operationId": "create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateKeyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The created key, including the plaintext value returned once",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateKeyResponse"
                }
              }
            }
          },
          "422": {
            "description": "Request body failed validation"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/api_keys/{key_id}": {
      "delete": {
        "tags": [
          "API keys"
        ],
        "summary": "Revoke API key",
        "operationId": "revoke",
        "parameters": [
          {
            "name": "key_id",
            "in": "path",
            "description": "API key ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Revocation result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found or not owned by the caller"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/billing/balance": {
      "get": {
        "tags": [
          "Billing"
        ],
        "summary": "Get credit balance",
        "operationId": "balance",
        "parameters": [
          {
            "name": "stripe_customer_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The caller's current credit balance",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BalanceResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/billing/burn_rate": {
      "get": {
        "tags": [
          "Billing"
        ],
        "summary": "Get burn rate",
        "operationId": "burn_rate",
        "responses": {
          "200": {
            "description": "Current spend rate, balance, and active jobs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BurnRateResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/billing/transactions": {
      "get": {
        "tags": [
          "Billing"
        ],
        "summary": "List transactions",
        "operationId": "transactions",
        "parameters": [
          {
            "name": "stripe_customer_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of credit/debit transactions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/code_artifacts": {
      "post": {
        "tags": [
          "Code artifacts"
        ],
        "summary": "Upload code artifact",
        "operationId": "create",
        "requestBody": {
          "description": "Custom training script bundle (code.tar.gz) under the `file` field",
          "content": {
            "multipart/form-data": {}
          }
        },
        "responses": {
          "201": {
            "description": "The uploaded code artifact handle",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CodeArtifactResponse"
                }
              }
            }
          },
          "422": {
            "description": "The `file` field is missing or empty"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/credits/redeem": {
      "post": {
        "tags": [
          "Billing"
        ],
        "summary": "Redeem a credit code",
        "operationId": "redeem",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RedeemRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Code redeemed; credits added to balance",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RedeemResponse"
                }
              }
            }
          },
          "400": {
            "description": "Missing or malformed code"
          },
          "404": {
            "description": "Code not found"
          },
          "409": {
            "description": "Code already redeemed"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/datasets": {
      "get": {
        "tags": [
          "Datasets"
        ],
        "summary": "List datasets",
        "operationId": "list",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of datasets",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedList_DatasetResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Datasets"
        ],
        "summary": "Upload dataset",
        "operationId": "create",
        "requestBody": {
          "description": "JSONL dataset file upload",
          "content": {
            "multipart/form-data": {}
          }
        },
        "responses": {
          "200": {
            "description": "The created (or existing, on content-hash match) dataset",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatasetResponse"
                }
              }
            }
          },
          "422": {
            "description": "Empty file, invalid JSONL, or a row missing the 'prompt' field"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/datasets/connect": {
      "post": {
        "tags": [
          "Datasets"
        ],
        "summary": "Connect dataset source",
        "operationId": "connect",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DatasetConnect"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The connected (or existing, on identical config) dataset",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatasetResponse"
                }
              }
            }
          },
          "422": {
            "description": "Request body failed validation"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/datasets/connect/validate": {
      "post": {
        "tags": [
          "Datasets"
        ],
        "summary": "Validate dataset source",
        "operationId": "validate_connection",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DatasetValidateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Validation result for the dataset connection",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatasetValidateResponse"
                }
              }
            }
          },
          "422": {
            "description": "Request body failed validation"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/datasets/{dataset_id}": {
      "get": {
        "tags": [
          "Datasets"
        ],
        "summary": "Get dataset",
        "operationId": "get",
        "parameters": [
          {
            "name": "dataset_id",
            "in": "path",
            "description": "Dataset ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The dataset",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatasetResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found or not owned by the caller"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/deployments": {
      "get": {
        "tags": [
          "Deployments"
        ],
        "summary": "List deployments",
        "operationId": "list",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of deployments",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedList_DeploymentResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Deployments"
        ],
        "summary": "Create deployment",
        "operationId": "create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeploymentCreate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The created deployment",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeploymentResponse"
                }
              }
            }
          },
          "422": {
            "description": "Request body failed validation"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/deployments/{deployment_id}": {
      "get": {
        "tags": [
          "Deployments"
        ],
        "summary": "Get deployment",
        "operationId": "get",
        "parameters": [
          {
            "name": "deployment_id",
            "in": "path",
            "description": "Deployment ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The deployment",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeploymentResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found or not owned by the caller"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/deployments/{deployment_id}/chat/completions": {
      "post": {
        "tags": [
          "Deployments"
        ],
        "summary": "Create chat completion",
        "operationId": "chat_completions",
        "parameters": [
          {
            "name": "deployment_id",
            "in": "path",
            "description": "Deployment ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {}
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "An OpenAI-compatible chat completion",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "404": {
            "description": "Not found or not owned by the caller"
          },
          "422": {
            "description": "Request body failed validation"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/deployments/{deployment_id}/metrics": {
      "get": {
        "tags": [
          "Deployments"
        ],
        "summary": "Get deployment metrics",
        "operationId": "metrics",
        "parameters": [
          {
            "name": "deployment_id",
            "in": "path",
            "description": "Deployment ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Uptime, cost, and request aggregates",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeploymentMetrics"
                }
              }
            }
          },
          "404": {
            "description": "Not found or not owned by the caller"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/deployments/{deployment_id}/requests": {
      "get": {
        "tags": [
          "Deployments"
        ],
        "summary": "List deployment requests",
        "operationId": "requests",
        "parameters": [
          {
            "name": "deployment_id",
            "in": "path",
            "description": "Deployment ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of inference requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedList_DeploymentRequestResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found or not owned by the caller"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/deployments/{deployment_id}/stop": {
      "post": {
        "tags": [
          "Deployments"
        ],
        "summary": "Stop deployment",
        "operationId": "stop",
        "parameters": [
          {
            "name": "deployment_id",
            "in": "path",
            "description": "Deployment ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The stopped deployment",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeploymentResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found or not owned by the caller"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/evals": {
      "get": {
        "tags": [
          "Evaluations"
        ],
        "summary": "List evaluations",
        "operationId": "list",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of evaluations",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedList_EvalResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Evaluations"
        ],
        "summary": "Create evaluation",
        "operationId": "create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EvalCreate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The created evaluation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EvalResponse"
                }
              }
            }
          },
          "422": {
            "description": "Request body failed validation"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/evals/benchmarks": {
      "get": {
        "tags": [
          "Evaluations"
        ],
        "summary": "List benchmark catalog",
        "operationId": "list_benchmarks",
        "responses": {
          "200": {
            "description": "Available benchmark tasks",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BenchmarkInfo"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/evals/{eval_id}": {
      "get": {
        "tags": [
          "Evaluations"
        ],
        "summary": "Get evaluation",
        "operationId": "get",
        "parameters": [
          {
            "name": "eval_id",
            "in": "path",
            "description": "Evaluation ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The evaluation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EvalResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found or not owned by the caller"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Evaluations"
        ],
        "summary": "Delete evaluation",
        "operationId": "delete",
        "parameters": [
          {
            "name": "eval_id",
            "in": "path",
            "description": "Evaluation ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The evaluation was deleted"
          },
          "404": {
            "description": "Not found or not owned by the caller"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/evals/{eval_id}/runs": {
      "get": {
        "tags": [
          "Evaluations"
        ],
        "summary": "List evaluation runs",
        "operationId": "list_runs",
        "parameters": [
          {
            "name": "eval_id",
            "in": "path",
            "description": "Evaluation ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of evaluation runs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedList_EvalRunResponse"
                }
              }
            }
          },
          "404": {
            "description": "Evaluation not found or not owned by the caller"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Evaluations"
        ],
        "summary": "Create evaluation run",
        "operationId": "create_run",
        "parameters": [
          {
            "name": "eval_id",
            "in": "path",
            "description": "Evaluation ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EvalRunCreate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The created evaluation run",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EvalRunResponse"
                }
              }
            }
          },
          "404": {
            "description": "Evaluation not found or not owned by the caller"
          },
          "422": {
            "description": "Request body failed validation"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/evals/{eval_id}/runs/{run_id}": {
      "get": {
        "tags": [
          "Evaluations"
        ],
        "summary": "Get evaluation run",
        "operationId": "get_run",
        "parameters": [
          {
            "name": "eval_id",
            "in": "path",
            "description": "Evaluation ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "run_id",
            "in": "path",
            "description": "Evaluation run ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The evaluation run",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EvalRunResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found or not owned by the caller"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Evaluations"
        ],
        "summary": "Delete evaluation run",
        "operationId": "delete_run",
        "parameters": [
          {
            "name": "eval_id",
            "in": "path",
            "description": "Evaluation ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "run_id",
            "in": "path",
            "description": "Evaluation run ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The evaluation run was deleted"
          },
          "404": {
            "description": "Not found or not owned by the caller"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/evals/{eval_id}/runs/{run_id}/calibrate": {
      "post": {
        "tags": [
          "Evaluations"
        ],
        "summary": "Calibrate an LLM judge scoring revision",
        "operationId": "calibrate_run",
        "parameters": [
          {
            "name": "eval_id",
            "in": "path",
            "description": "Evaluation ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "run_id",
            "in": "path",
            "description": "Evaluation run ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EvalCalibrationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Judge calibration metrics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EvalCalibrationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Revision cannot be calibrated"
          },
          "404": {
            "description": "Run not found or not owned by the caller"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/evals/{eval_id}/runs/{run_id}/cancel": {
      "post": {
        "tags": [
          "Evaluations"
        ],
        "summary": "Cancel evaluation run",
        "operationId": "cancel_run",
        "parameters": [
          {
            "name": "eval_id",
            "in": "path",
            "description": "Evaluation ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "run_id",
            "in": "path",
            "description": "Evaluation run ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The cancelled evaluation run",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EvalRunResponse"
                }
              }
            }
          },
          "400": {
            "description": "Run is already in a terminal state"
          },
          "404": {
            "description": "Not found or not owned by the caller"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/evals/{eval_id}/runs/{run_id}/compare": {
      "get": {
        "tags": [
          "Evaluations"
        ],
        "summary": "Compare an evaluation run with a baseline",
        "operationId": "compare_run",
        "parameters": [
          {
            "name": "eval_id",
            "in": "path",
            "description": "Evaluation ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "run_id",
            "in": "path",
            "description": "Candidate run ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "baseline",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paired run comparison and gate decisions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EvalRunComparisonResponse"
                }
              }
            }
          },
          "400": {
            "description": "Comparison cannot be computed"
          },
          "404": {
            "description": "Run not found or not owned by the caller"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/evals/{eval_id}/runs/{run_id}/items": {
      "get": {
        "tags": [
          "Evaluations"
        ],
        "summary": "List run items",
        "operationId": "list_run_items",
        "parameters": [
          {
            "name": "eval_id",
            "in": "path",
            "description": "Evaluation ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "run_id",
            "in": "path",
            "description": "Evaluation run ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of per-item scoring results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedList_EvalRunItemResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found or not owned by the caller"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/evals/{eval_id}/runs/{run_id}/rescore": {
      "post": {
        "tags": [
          "Evaluations"
        ],
        "summary": "Rescore an evaluation run",
        "operationId": "rescore_run",
        "parameters": [
          {
            "name": "eval_id",
            "in": "path",
            "description": "Evaluation ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "run_id",
            "in": "path",
            "description": "Evaluation run ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EvalRunRescoreRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "An immutable scoring revision",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EvalScoringRevisionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Run cannot be rescored"
          },
          "404": {
            "description": "Run not found or not owned by the caller"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/gpu/availability": {
      "get": {
        "tags": [
          "GPU"
        ],
        "summary": "GPU availability by provider/region",
        "operationId": "availability",
        "parameters": [
          {
            "name": "provider",
            "in": "query",
            "description": "\"aws\" | \"hotaisle\" | \"vast\" | \"digitalocean\". Absent = every probeable\nprovider we can reach.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "gpu_type",
            "in": "query",
            "description": "GPU-type filter (e.g. \"H100\", \"A100-80GB\", \"MI300X-192GB\"). Absent = all.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "region",
            "in": "query",
            "description": "Region filter. AWS: a real region. Hot Aisle: \"hotaisle-us\".\nDigitalOcean: a DO region slug (e.g. \"tor1\").",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Live GPU availability rows across providers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GpuAvailabilityList"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/models": {
      "get": {
        "tags": [
          "Models"
        ],
        "summary": "List models",
        "operationId": "list",
        "responses": {
          "200": {
            "description": "A list of the caller's custom models",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedList_ModelResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/models/import": {
      "post": {
        "tags": [
          "Models"
        ],
        "summary": "Import model",
        "operationId": "import",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ImportRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "The model row (import driven to its terminal state)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModelResponse"
                }
              }
            }
          },
          "422": {
            "description": "Request body failed validation"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/models/register": {
      "post": {
        "tags": [
          "Models"
        ],
        "summary": "Register model",
        "operationId": "register",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "The registered custom model",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModelResponse"
                }
              }
            }
          },
          "422": {
            "description": "Request body failed validation"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/models/{id}": {
      "get": {
        "tags": [
          "Models"
        ],
        "summary": "Get model",
        "operationId": "get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Custom model ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The custom model",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModelResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found or not owned by the caller"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/models/{id}/presigned-upload": {
      "post": {
        "tags": [
          "Models"
        ],
        "summary": "Create model upload URL",
        "operationId": "presigned_upload",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Custom model ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PresignedUploadRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A presigned single-PUT upload URL + S3 key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PresignedUploadResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found or not owned by the caller"
          },
          "422": {
            "description": "Request body failed validation"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/regions": {
      "get": {
        "tags": [
          "Regions"
        ],
        "summary": "List regions",
        "operationId": "list",
        "responses": {
          "200": {
            "description": "The launch regions Veri offers, with the default flagged",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegionList"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/reward_functions": {
      "get": {
        "tags": [
          "Reward functions"
        ],
        "summary": "List reward functions",
        "operationId": "list",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of reward functions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedList_RewardFunctionResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Reward functions"
        ],
        "summary": "Upload reward function",
        "operationId": "create",
        "requestBody": {
          "description": "Reward function file upload",
          "content": {
            "multipart/form-data": {}
          }
        },
        "responses": {
          "200": {
            "description": "The created (or existing, on content-hash match) reward function",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RewardFunctionResponse"
                }
              }
            }
          },
          "422": {
            "description": "File is missing the expected reward function signature, or an unknown format"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/reward_functions/{reward_id}": {
      "get": {
        "tags": [
          "Reward functions"
        ],
        "summary": "Get reward function",
        "operationId": "get",
        "parameters": [
          {
            "name": "reward_id",
            "in": "path",
            "description": "Reward function ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The reward function",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RewardFunctionResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found or not owned by the caller"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/ssh_keys": {
      "get": {
        "tags": [
          "SSH keys"
        ],
        "summary": "List SSH keys",
        "operationId": "list",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of SSH keys",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedList_SSHKeyResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "SSH keys"
        ],
        "summary": "Upload SSH key",
        "operationId": "create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSSHKeyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The registered SSH key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SSHKeyResponse"
                }
              }
            }
          },
          "422": {
            "description": "Request body failed validation"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/ssh_keys/{key_id}": {
      "delete": {
        "tags": [
          "SSH keys"
        ],
        "summary": "Delete SSH key",
        "operationId": "delete",
        "parameters": [
          {
            "name": "key_id",
            "in": "path",
            "description": "SSH key ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deletion result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found or not owned by the caller"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/training_jobs": {
      "get": {
        "tags": [
          "Training jobs"
        ],
        "summary": "List training jobs",
        "operationId": "list",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/JobStatus"
            }
          },
          {
            "name": "method",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of training jobs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedList_TrainingJobResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Training jobs"
        ],
        "summary": "Create training job",
        "operationId": "submit",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TrainingJobCreate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The created training job",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrainingJobResponse"
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credit balance"
          },
          "422": {
            "description": "Request body failed validation"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/training_jobs/{job_id}": {
      "get": {
        "tags": [
          "Training jobs"
        ],
        "summary": "Get training job",
        "operationId": "get",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "description": "Training job ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The training job",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrainingJobResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found or not owned by the caller"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Training jobs"
        ],
        "summary": "Delete training job",
        "operationId": "delete",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "description": "Training job ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deletion result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteResponse"
                }
              }
            }
          },
          "400": {
            "description": "Job is not in a terminal state, or a deployment still references it"
          },
          "404": {
            "description": "Not found"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/training_jobs/{job_id}/cancel": {
      "post": {
        "tags": [
          "Training jobs"
        ],
        "summary": "Cancel training job",
        "operationId": "cancel",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "description": "Training job ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The cancelled job",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrainingJobResponse"
                }
              }
            }
          },
          "400": {
            "description": "Job is already in a terminal state"
          },
          "404": {
            "description": "Not found"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/training_jobs/{job_id}/events": {
      "get": {
        "tags": [
          "Training jobs"
        ],
        "summary": "Get job events",
        "operationId": "events",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "description": "Training job ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lifecycle event history for the job",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventList"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/training_jobs/{job_id}/metrics": {
      "get": {
        "tags": [
          "Training jobs"
        ],
        "summary": "Get training metrics",
        "operationId": "metrics",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "description": "Training job ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "keys",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from_step",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "to_step",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "max_points",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sampled per-step training metrics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetricsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/training_jobs/{job_id}/model": {
      "get": {
        "tags": [
          "Training jobs"
        ],
        "summary": "Get model checkpoint",
        "operationId": "model",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "description": "Training job ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Checkpoint download URL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModelDownload"
                }
              }
            }
          },
          "400": {
            "description": "Job has not completed yet"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/volumes": {
      "get": {
        "tags": [
          "Volumes"
        ],
        "summary": "List volumes",
        "operationId": "list",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of the caller's volumes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedList_VolumeResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Volumes"
        ],
        "summary": "Create volume",
        "operationId": "create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VolumeCreate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The created volume (or the existing one on idempotent re-create)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VolumeResponse"
                }
              }
            }
          },
          "422": {
            "description": "Request body failed validation (invalid volume name)"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/volumes/{name}": {
      "get": {
        "tags": [
          "Volumes"
        ],
        "summary": "Get volume",
        "operationId": "get",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "Volume name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The volume",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VolumeResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found or not owned by the caller"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Volumes"
        ],
        "summary": "Delete volume",
        "operationId": "delete",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "Volume name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Volume deleted (S3 contents reclaimed asynchronously)"
          },
          "404": {
            "description": "Not found or not owned by the caller"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/volumes/{name}/files": {
      "get": {
        "tags": [
          "Volumes"
        ],
        "summary": "List volume files",
        "operationId": "list_files",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "Volume name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "prefix",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of files stored in the volume",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VolumeFilesList"
                }
              }
            }
          },
          "404": {
            "description": "Not found or not owned by the caller"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/volumes/{name}/files/{path}": {
      "delete": {
        "tags": [
          "Volumes"
        ],
        "summary": "Delete volume file",
        "operationId": "delete_file",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "Volume name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "path",
            "in": "path",
            "description": "File path within the volume",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "File deleted (size accounting updated)"
          },
          "404": {
            "description": "Not found or not owned by the caller"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/volumes/{name}/upload-url": {
      "post": {
        "tags": [
          "Volumes"
        ],
        "summary": "Create upload URL",
        "operationId": "create_upload_url",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "Volume name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VolumeUploadRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A single-shot PUT URL (<= 5 GiB) or a multipart-init descriptor",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadUrlResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found or not owned by the caller"
          },
          "422": {
            "description": "Request body failed validation (bad path or size)"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/volumes/{name}/upload-url/complete": {
      "post": {
        "tags": [
          "Volumes"
        ],
        "summary": "Complete multipart upload",
        "operationId": "complete_upload",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "Volume name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VolumeMultipartCompleteRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The finalized file record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VolumeMultipartCompleteResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found or not owned by the caller"
          },
          "422": {
            "description": "Request body failed validation (bad path or empty parts)"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/volumes/{name}/upload-url/part": {
      "post": {
        "tags": [
          "Volumes"
        ],
        "summary": "Create upload part URL",
        "operationId": "create_upload_part_url",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "Volume name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VolumeMultipartPartRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A presigned PUT URL for one multipart part",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VolumeMultipartPartResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found or not owned by the caller"
          },
          "422": {
            "description": "Request body failed validation (bad path or part_number)"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "ActiveJobEntry": {
        "type": "object",
        "required": [
          "job_id",
          "gpu_count",
          "burn_rate_usd_per_hour",
          "elapsed_seconds",
          "accrued_cost_usd"
        ],
        "properties": {
          "job_id": {
            "type": "string"
          },
          "gpu_type": {
            "type": [
              "string",
              "null"
            ]
          },
          "gpu_count": {
            "type": "integer",
            "format": "int32"
          },
          "provider": {
            "type": [
              "string",
              "null"
            ]
          },
          "burn_rate_usd_per_hour": {
            "type": "number",
            "format": "double"
          },
          "elapsed_seconds": {
            "type": "integer",
            "format": "int64"
          },
          "accrued_cost_usd": {
            "type": "number",
            "format": "double"
          }
        }
      },
      "AgenticGrpoHyperparameters": {
        "allOf": [
          {
            "$ref": "#/components/schemas/GrpoHyperparameters"
          },
          {
            "type": "object",
            "properties": {
              "max_turns": {
                "type": "integer",
                "format": "int32"
              },
              "max_seq_len": {
                "type": "integer",
                "format": "int32"
              }
            }
          }
        ]
      },
      "AnyHyperparameters": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/AgenticGrpoHyperparameters"
          },
          {
            "$ref": "#/components/schemas/GrpoHyperparameters"
          },
          {
            "$ref": "#/components/schemas/SftVideoGenHyperparameters"
          },
          {
            "$ref": "#/components/schemas/SftTextHyperparameters"
          },
          {
            "$ref": "#/components/schemas/DpoHyperparameters"
          }
        ]
      },
      "ApiKeyResponse": {
        "type": "object",
        "required": [
          "object",
          "id",
          "name",
          "key_prefix",
          "created_at"
        ],
        "properties": {
          "object": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "key_prefix": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "last_used_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          }
        }
      },
      "BalanceResponse": {
        "type": "object",
        "required": [
          "balance_usd"
        ],
        "properties": {
          "balance_usd": {
            "type": "number",
            "format": "double"
          },
          "stripe_customer_id": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "BenchmarkInfo": {
        "type": "object",
        "required": [
          "task",
          "name",
          "description",
          "tier",
          "num_samples"
        ],
        "properties": {
          "task": {
            "type": "string",
            "description": "Catalog id used as `task` in a benchmark scorer (e.g. \"gsm8k\")."
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "tier": {
            "type": "string",
            "description": "\"inference_only\" or \"code_exec\" (code_exec runs each sample in a sandbox)."
          },
          "num_samples": {
            "type": "integer",
            "format": "int32",
            "description": "Total rows in the source split; cap with `sample_limit`."
          }
        }
      },
      "BenchmarkScorerConfig": {
        "type": "object",
        "required": [
          "name",
          "task"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "task": {
            "type": "string"
          },
          "sample_limit": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int32"
          }
        }
      },
      "BurnRateResponse": {
        "type": "object",
        "required": [
          "balance_usd",
          "burn_rate_usd_per_hour",
          "active_jobs"
        ],
        "properties": {
          "balance_usd": {
            "type": "number",
            "format": "double"
          },
          "burn_rate_usd_per_hour": {
            "type": "number",
            "format": "double"
          },
          "hours_remaining": {
            "type": [
              "number",
              "null"
            ],
            "format": "double"
          },
          "active_jobs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ActiveJobEntry"
            }
          }
        }
      },
      "CheckpointDestination": {
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/CheckpointDestinationType"
          },
          "uri": {
            "type": [
              "string",
              "null"
            ]
          },
          "credentials": {}
        }
      },
      "CheckpointDestinationType": {
        "type": "string",
        "enum": [
          "veri",
          "s3",
          "gs",
          "az"
        ]
      },
      "CodeArtifactResponse": {
        "type": "object",
        "required": [
          "object",
          "id",
          "created_at"
        ],
        "properties": {
          "object": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "created_at": {
            "type": "string"
          }
        }
      },
      "ContainsScorerConfig": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "reference_field": {
            "type": "string"
          },
          "regex": {
            "type": "boolean"
          }
        }
      },
      "CreateKeyRequest": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          }
        }
      },
      "CreateKeyResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ApiKeyResponse"
          },
          {
            "type": "object",
            "required": [
              "key"
            ],
            "properties": {
              "key": {
                "type": "string",
                "description": "Plaintext key returned ONCE on creation. Save it immediately."
              }
            }
          }
        ]
      },
      "CreateSSHKeyRequest": {
        "type": "object",
        "required": [
          "name",
          "public_key",
          "private_key"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "public_key": {
            "type": "string"
          },
          "private_key": {
            "type": "string"
          },
          "provider": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "CustomScriptConfig": {
        "type": "object",
        "description": "The BYO-script payload. Persisted verbatim as TrainingJob.script_config_json\nand read back by the worker launch path (forward contract).",
        "required": [
          "base_image",
          "code_artifact_id",
          "entrypoint"
        ],
        "properties": {
          "base_image": {
            "type": "string"
          },
          "code_artifact_id": {
            "type": "string"
          },
          "entrypoint": {
            "type": "string"
          },
          "deps": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/DepsSpec"
              }
            ]
          },
          "env": {
            "type": [
              "object",
              "null"
            ],
            "additionalProperties": {
              "type": "string"
            },
            "propertyNames": {
              "type": "string"
            }
          }
        }
      },
      "DatasetConnect": {
        "type": "object",
        "required": [
          "name",
          "source_type"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "source_type": {
            "type": "string"
          },
          "huggingface_dataset": {
            "type": [
              "string",
              "null"
            ]
          },
          "huggingface_config": {},
          "volume": {
            "type": [
              "string",
              "null"
            ]
          },
          "volume_path": {
            "type": [
              "string",
              "null"
            ]
          },
          "credentials": {}
        }
      },
      "DatasetResponse": {
        "type": "object",
        "required": [
          "object",
          "id",
          "name",
          "created_at"
        ],
        "properties": {
          "object": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "source_type": {
            "type": "string"
          },
          "source_uri": {
            "type": [
              "string",
              "null"
            ]
          },
          "huggingface_dataset": {
            "type": [
              "string",
              "null"
            ]
          },
          "num_rows": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int32"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "DatasetValidateRequest": {
        "type": "object",
        "required": [
          "source_type"
        ],
        "properties": {
          "source_type": {
            "type": "string"
          },
          "huggingface_dataset": {
            "type": [
              "string",
              "null"
            ]
          },
          "huggingface_config": {},
          "credentials": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "DatasetValidateResponse": {
        "type": "object",
        "required": [
          "valid"
        ],
        "properties": {
          "valid": {
            "type": "boolean"
          },
          "num_rows": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int32"
          },
          "columns": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "type": "string"
            }
          },
          "error": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "DeleteResponse": {
        "type": "object",
        "required": [
          "id",
          "object",
          "deleted"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string"
          },
          "deleted": {
            "type": "boolean"
          }
        }
      },
      "DeploymentCreate": {
        "type": "object",
        "required": [
          "model",
          "name",
          "gpu"
        ],
        "properties": {
          "model": {
            "type": "string"
          },
          "source": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "gpu": {
            "$ref": "#/components/schemas/GpuConfig"
          },
          "provider": {
            "type": [
              "string",
              "null"
            ]
          },
          "engine": {
            "type": [
              "string",
              "null"
            ],
            "description": "Inference engine: \"vllm\" (default) or \"max\" (Modular MAX). Omitted => vllm."
          },
          "num_replicas": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int32",
            "description": "VS-341: number of GPU-box replicas to launch (fixed N; no autoscaling in\nthis chunk). Omitted => 1, which is byte-for-byte today's single-box\nbehavior. Validated 1..=8 at create."
          }
        }
      },
      "DeploymentMetrics": {
        "type": "object",
        "properties": {
          "total_requests": {
            "type": "integer",
            "format": "int64"
          },
          "total_prompt_tokens": {
            "type": "integer",
            "format": "int64"
          },
          "total_completion_tokens": {
            "type": "integer",
            "format": "int64"
          },
          "total_cost_usd": {
            "type": "number",
            "format": "double"
          },
          "avg_latency_ms": {
            "type": [
              "number",
              "null"
            ],
            "format": "double"
          },
          "p50_latency_ms": {
            "type": [
              "number",
              "null"
            ],
            "format": "double"
          },
          "p90_latency_ms": {
            "type": [
              "number",
              "null"
            ],
            "format": "double"
          },
          "p99_latency_ms": {
            "type": [
              "number",
              "null"
            ],
            "format": "double"
          },
          "error_rate": {
            "type": "number",
            "format": "double"
          },
          "uptime_seconds": {
            "type": [
              "number",
              "null"
            ],
            "format": "double"
          }
        }
      },
      "DeploymentRequestResponse": {
        "type": "object",
        "required": [
          "object",
          "id",
          "deployment_id",
          "prompt_tokens",
          "completion_tokens",
          "latency_ms",
          "status_code",
          "created_at"
        ],
        "properties": {
          "object": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "deployment_id": {
            "type": "string"
          },
          "prompt_tokens": {
            "type": "integer",
            "format": "int32"
          },
          "completion_tokens": {
            "type": "integer",
            "format": "int32"
          },
          "latency_ms": {
            "type": "number",
            "format": "double"
          },
          "status_code": {
            "type": "integer",
            "format": "int32"
          },
          "error_message": {
            "type": [
              "string",
              "null"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "DeploymentResponse": {
        "type": "object",
        "required": [
          "object",
          "id",
          "status",
          "name",
          "model",
          "source",
          "created_at",
          "updated_at"
        ],
        "properties": {
          "object": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "status": {
            "$ref": "#/components/schemas/DeploymentStatus"
          },
          "name": {
            "type": "string"
          },
          "model": {
            "type": "string"
          },
          "source": {
            "type": "string"
          },
          "endpoint_url": {
            "type": [
              "string",
              "null"
            ]
          },
          "gpu": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/GpuInfo"
              }
            ]
          },
          "provider": {
            "type": [
              "string",
              "null"
            ]
          },
          "engine": {
            "type": [
              "string",
              "null"
            ]
          },
          "num_replicas": {
            "type": "integer",
            "format": "int32",
            "description": "VS-341: number of serving replicas (GPU boxes) behind this deployment."
          },
          "cost_per_hour_usd": {
            "type": [
              "number",
              "null"
            ],
            "format": "double"
          },
          "total_cost_usd": {
            "type": [
              "number",
              "null"
            ],
            "format": "double"
          },
          "total_requests": {
            "type": "integer",
            "format": "int32"
          },
          "error": {
            "type": [
              "string",
              "null"
            ]
          },
          "started_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "stopped_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "DeploymentStatus": {
        "type": "string",
        "enum": [
          "queued",
          "provisioning",
          "serving",
          "unhealthy",
          "stopped",
          "failed"
        ]
      },
      "DepsSpec": {
        "type": "object",
        "description": "Dependency layer for a custom_script job. The worker installs these inside the\ncontainer before the entrypoint (uv pip). `kind` is \"requirements\" | \"uv_lock\"\n| \"none\"; `content` is the file text for the first two.",
        "required": [
          "kind"
        ],
        "properties": {
          "kind": {
            "type": "string"
          },
          "content": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "DpoHyperparameters": {
        "type": "object",
        "properties": {
          "learning_rate": {
            "type": "number",
            "format": "double"
          },
          "num_epochs": {
            "type": "integer",
            "format": "int32"
          },
          "max_steps": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int32"
          },
          "beta": {
            "type": "number",
            "format": "double"
          },
          "loss_type": {
            "type": "string"
          },
          "max_length": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int32"
          },
          "max_prompt_length": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int32"
          },
          "use_unsloth": {
            "type": "boolean"
          },
          "lora_rank": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int32"
          },
          "lora_alpha": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int32"
          },
          "load_in_4bit": {
            "type": "boolean"
          }
        }
      },
      "EnvironmentConfig": {
        "type": "object",
        "properties": {
          "splits": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "source": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/EnvironmentSource"
              }
            ]
          }
        }
      },
      "EnvironmentSource": {
        "oneOf": [
          {
            "type": "object",
            "required": [
              "id",
              "type"
            ],
            "properties": {
              "id": {
                "type": "string"
              },
              "package": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "args": {
                "type": "object",
                "additionalProperties": {},
                "propertyNames": {
                  "type": "string"
                }
              },
              "type": {
                "type": "string",
                "enum": [
                  "verifiers_wheel"
                ]
              }
            }
          },
          {
            "type": "object",
            "required": [
              "protocol",
              "url",
              "type"
            ],
            "properties": {
              "protocol": {
                "$ref": "#/components/schemas/RemoteEnvProtocol"
              },
              "url": {
                "type": "string"
              },
              "name": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "headers": {
                "type": "object",
                "additionalProperties": {
                  "type": "string"
                },
                "propertyNames": {
                  "type": "string"
                }
              },
              "type": {
                "type": "string",
                "enum": [
                  "remote_endpoint"
                ]
              }
            }
          }
        ]
      },
      "EvalCalibrationRequest": {
        "type": "object",
        "required": [
          "scorer_name"
        ],
        "properties": {
          "scorer_name": {
            "type": "string"
          },
          "threshold": {
            "type": "number",
            "format": "double"
          }
        }
      },
      "EvalCalibrationResponse": {
        "type": "object",
        "required": [
          "object",
          "id",
          "run_id",
          "scoring_revision",
          "scorer_name",
          "threshold",
          "accuracy",
          "invalid_rate",
          "confusion_matrix",
          "sample_count",
          "created_at"
        ],
        "properties": {
          "object": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "run_id": {
            "type": "string"
          },
          "scoring_revision": {
            "type": "integer",
            "format": "int32"
          },
          "scorer_name": {
            "type": "string"
          },
          "threshold": {
            "type": "number",
            "format": "double"
          },
          "accuracy": {
            "type": "number",
            "format": "double"
          },
          "invalid_rate": {
            "type": "number",
            "format": "double"
          },
          "confusion_matrix": {},
          "sample_count": {
            "type": "integer",
            "format": "int32"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "EvalCreate": {
        "type": "object",
        "required": [
          "name",
          "scorers"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "dataset_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "Optional when the (single) scorer is a benchmark — benchmark tasks\nsupply their own rows. Required for every other scorer type."
          },
          "scorers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ScorerConfig"
            }
          },
          "generation_params": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/GenerationParams"
              }
            ]
          }
        }
      },
      "EvalGateConfig": {
        "type": "object",
        "required": [
          "metric"
        ],
        "properties": {
          "metric": {
            "type": "string"
          },
          "higher_is_better": {
            "type": [
              "boolean",
              "null"
            ]
          },
          "minimum": {
            "type": [
              "number",
              "null"
            ],
            "format": "double"
          },
          "maximum": {
            "type": [
              "number",
              "null"
            ],
            "format": "double"
          },
          "max_regression": {
            "type": [
              "number",
              "null"
            ],
            "format": "double"
          },
          "confidence": {
            "type": [
              "number",
              "null"
            ],
            "format": "double"
          }
        }
      },
      "EvalGateResult": {
        "type": "object",
        "required": [
          "metric",
          "passed",
          "reason"
        ],
        "properties": {
          "metric": {
            "type": "string"
          },
          "passed": {
            "type": "boolean"
          },
          "reason": {
            "type": "string"
          },
          "observed": {
            "type": [
              "number",
              "null"
            ],
            "format": "double"
          },
          "threshold": {
            "type": [
              "number",
              "null"
            ],
            "format": "double"
          }
        }
      },
      "EvalMetricComparison": {
        "type": "object",
        "required": [
          "metric"
        ],
        "properties": {
          "metric": {
            "type": "string"
          },
          "candidate": {
            "type": [
              "number",
              "null"
            ],
            "format": "double"
          },
          "baseline": {
            "type": [
              "number",
              "null"
            ],
            "format": "double"
          },
          "delta": {
            "type": [
              "number",
              "null"
            ],
            "format": "double"
          },
          "confidence_interval_low": {
            "type": [
              "number",
              "null"
            ],
            "format": "double"
          },
          "confidence_interval_high": {
            "type": [
              "number",
              "null"
            ],
            "format": "double"
          }
        }
      },
      "EvalResponse": {
        "type": "object",
        "required": [
          "object",
          "id",
          "name",
          "scorers",
          "created_at"
        ],
        "properties": {
          "object": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "dataset_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "scorers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ScorerConfig"
            }
          },
          "generation_params": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/GenerationParams"
              }
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "EvalResults": {
        "type": "object",
        "required": [
          "total_items",
          "scores"
        ],
        "properties": {
          "total_items": {
            "type": "integer",
            "format": "int32"
          },
          "scores": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/ScorerResult"
            },
            "propertyNames": {
              "type": "string"
            }
          }
        }
      },
      "EvalRunComparisonResponse": {
        "type": "object",
        "required": [
          "object",
          "candidate_run_id",
          "baseline_run_id",
          "equivalent",
          "incompatibilities",
          "metrics",
          "samples",
          "gates"
        ],
        "properties": {
          "object": {
            "type": "string"
          },
          "candidate_run_id": {
            "type": "string"
          },
          "baseline_run_id": {
            "type": "string"
          },
          "equivalent": {
            "type": "boolean"
          },
          "incompatibilities": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "metrics": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EvalMetricComparison"
            }
          },
          "samples": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EvalSampleComparison"
            }
          },
          "gates_passed": {
            "type": [
              "boolean",
              "null"
            ]
          },
          "gates": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EvalGateResult"
            }
          }
        }
      },
      "EvalRunCreate": {
        "type": "object",
        "required": [
          "model"
        ],
        "properties": {
          "model": {
            "type": "string"
          },
          "runner_type": {
            "type": "string"
[...]
